<a href="https://colab.research.google.com/github/Ricky0917/STAT-545/blob/main/worksheet_b03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Ruiqi Zang

Student ID: 24075277

# Worksheet B3: Nesting, List Columns, and `purrr` (16 points)
**Fall 2025**


There are 16 questions, each worth 1 point.


From this topic, students are anticipated to be able to:

- Use the `map` family of functions from the purrr package to iteratively apply a function.
- Create and operate on list columns in a tibble using `nest()`, `unnest()`, and the `map` family of functions.
- Define functions on-the-fly within a `map` function using shortcuts.
- Apply list columns to cases in data analysis: columns of models, columns of nested lists (JSON-style data), and operating on entire groups within a tibble.

Load the worksheet requirements:

In [109]:
suppressPackageStartupMessages(library(testthat))
suppressPackageStartupMessages(library(digest))
suppressPackageStartupMessages(library(tidyverse))
suppressPackageStartupMessages(library(palmerpenguins))
suppressPackageStartupMessages(library(glue))
suppressPackageStartupMessages(library(gapminder))
suppressPackageStartupMessages(library(broom))
suppressPackageStartupMessages(library(repurrrsive))

The following code chunk has been unlocked, to give you the flexibility to start this document with some of your own code. Remember, it's bad manners to keep a call to `install.packages()` in your source code, so don't forget to delete these lines if you ever need to run them.

In [110]:
# An unlocked code chunk.
#install.packages("palmerpenguins")
#install.packages("gapminder")
#install.packages("repurrrsive")

# Part 1: Exploring `purrr` Fundamentals


The `purrr` package is also part of the `tidyverse`.

Apply a function to each element in a list/vector with `map`.

General usage: `purrr::map(VECTOR_OR_LIST, YOUR_FUNCTION)`

Note:

- `map` always returns a list.
- `YOUR_FUNCTION` can return anything!

There are many variations of `map_*`, which you can find in this [cheatsheet](https://github.com/rstudio/cheatsheets/blob/master/purrr.pdf).

For the next few tasks, you will be converting for-loop(s) to vectorized expressions that reproduce the output (numbers should be the same, the format can be different).

## QUESTION 1

{points: 1}


Without using vectorization, take the square root of the following vector:

In [111]:
x <- 1:10

The result should be a list of the calculations. Store your answer in `answer1`.

```r
answer1 <- map(FILL_THIS_IN, FILL_THIS_IN)
```

In [112]:
# your code here
answer1 <- map(x, sqrt)
#fail() # No Answer - remove if you provide an answer
answer1

[[1]]
[1] 1

[[2]]
[1] 1.414214

[[3]]
[1] 1.732051

[[4]]
[1] 2

[[5]]
[1] 2.236068

[[6]]
[1] 2.44949

[[7]]
[1] 2.645751

[[8]]
[1] 2.828427

[[9]]
[1] 3

[[10]]
[1] 3.162278

In [113]:
library(digest)
stopifnot("type of answer1 is not list"= setequal(digest(paste(toString(class(answer1)), "e8e68")), "302b38335cbe54a6393db9763130b7e6"))
stopifnot("length of answer1 is not correct"= setequal(digest(paste(toString(length(answer1)), "e8e68")), "6d9f5a67a6c6b27f19b2a64b4932925a"))
stopifnot("values of answer1 names are not correct"= setequal(digest(paste(toString(sort(c(names(answer1)))), "e8e68")), "930bdb47de00be1e31d6243f87c51b06"))
stopifnot("order of elements of answer1 is not correct"= setequal(digest(paste(toString(answer1), "e8e68")), "354c3ca562580b223349727dcbebb217"))

print('Success!')

[1] "Success!"

## QUESTION 2

{points: 1}


In Question 1, we used the generic `map` function, and got a list. Let's use a more specific `map_*` function this time.

Again without using vectorization, square each component of `x`. The result should be a numeric vector. Store your answer in `answer2`:

```r
answer2 <- map_dbl(FILL_THIS_IN, FILL_THIS_IN)
```

_Hint:_ The last `FILL_THIS_IN` corresponds to an anonymous function!

In [114]:
# your code here
answer2 <- map_dbl(x, function(z) z^2)
#fail() # No Answer - remove if you provide an answer
print(answer2)

 [1]   1   4   9  16  25  36  49  64  81 100

In [115]:
library(digest)
stopifnot("type of answer2 is not numeric"= setequal(digest(paste(toString(class(answer2)), "1c1a8")), "d71412e05e24332596cc591b22c8a0e3"))
stopifnot("value of answer2 is not correct (rounded to 2 decimal places)"= setequal(digest(paste(toString(round(answer2, 2)), "1c1a8")), "a9236d4df4d673160b85bee34baaed61"))
stopifnot("length of answer2 is not correct"= setequal(digest(paste(toString(length(answer2)), "1c1a8")), "6e3afaeffc96949462a4937a3746957d"))
stopifnot("values of answer2 are not correct"= setequal(digest(paste(toString(sort(round(answer2, 2))), "1c1a8")), "a9236d4df4d673160b85bee34baaed61"))

print('Success!')

[1] "Success!"

Now we've used both `map` and a more specific `map_dbl`. Now you can see how they differ, and how the use of one is better justified than the other for our purpose. Now it's your turn to choose! Remember to use the [cheatsheet](https://github.com/rstudio/cheatsheets/blob/master/purrr.pdf) if you need it!

## QUESTION 3

{points: 1}


Below is sample code that computes the mean of every column in the `mtcars` dataset. Use the appropriate `purrr` function to vectorize this task.

In [116]:
mtcars_means <- numeric()
for (c in seq_along(mtcars)){
  mtcars_means[[c]] <- mean(mtcars[[c]])
}
mtcars_means

 [1]  20.090625   6.187500 230.721875 146.687500   3.596563   3.217250
 [7]  17.848750   0.437500   0.406250   3.687500   0.737500

Store your answer in `answer3`; as above, your answer should be a vector. _Hint_: remember that a tibble / data frame is just a list, where each entry is a column (a vector).

```r
answer3 <- FILL_THIS_IN(datasets::mtcars, FILL_THIS_IN)
```

In [117]:
# your code here
answer3 <- map_dbl(datasets::mtcars, mean)
#fail() # No Answer - remove if you provide an answer
print(answer3)

       mpg        cyl       disp         hp       drat         wt       qsec
 20.090625   6.187500 230.721875 146.687500   3.596563   3.217250  17.848750
        vs         am       gear       carb
  0.437500   0.406250   3.687500   2.812500

In [118]:
library(digest)
stopifnot("type of answer3 is not numeric"= setequal(digest(paste(toString(class(answer3)), "a22de")), "d5baa49d105e133b02797d0995291f75"))
stopifnot("value of answer3 is not correct (rounded to 2 decimal places)"= setequal(digest(paste(toString(round(answer3, 2)), "a22de")), "a88eddb0705c304d3fc768d339bb4a40"))
stopifnot("length of answer3 is not correct"= setequal(digest(paste(toString(length(answer3)), "a22de")), "93364ff92443b7362d8bec3343246e6b"))
stopifnot("values of answer3 are not correct"= setequal(digest(paste(toString(sort(round(answer3, 2))), "a22de")), "fdb874ead188b87e5a0197f43d4f8a0b"))

print('Success!')

[1] "Success!"

## QUESTION 4

{points: 1}


Below is sample code that computes the number of unique values in each column of `mtcars` as a named vector, using for-loops. Use the appropriate `purrr` function to vectorize this task.

In [119]:
mtcars_unique <- numeric()
for (c in seq_along(datasets::mtcars)){
  mtcars_unique[[c]] <- length(unique(datasets::mtcars[[c]]))
}
names(mtcars_unique) <- names(datasets::mtcars)
mtcars_unique

 mpg  cyl disp   hp drat   wt qsec   vs   am gear carb
  25    3   27   22   22   29   30    2    2    3    6

Store your answer in `answer4`:

```r
answer4 <- datasets::mtcars %>%
    FILL_THIS_IN(FILL_THIS_IN) %>%
    FILL_THIS_IN(FILL_THIS_IN)
```

In [120]:
answer4 <- datasets::mtcars %>%
    map(unique) %>%
    map_dbl(length)

#fail() # No Answer - remove if you provide an answer
print(answer4)

 mpg  cyl disp   hp drat   wt qsec   vs   am gear carb
  25    3   27   22   22   29   30    2    2    3    6

In [121]:
library(digest)
stopifnot("type of answer4 is not numeric"= setequal(digest(paste(toString(class(answer4)), "604b5")), "75dc2536842deb5b78c409e5926e32a7"))
stopifnot("value of answer4 is not correct (rounded to 2 decimal places)"= setequal(digest(paste(toString(round(answer4, 2)), "604b5")), "8d82833db264c8c68a5ca0fd27d243f6"))
stopifnot("length of answer4 is not correct"= setequal(digest(paste(toString(length(answer4)), "604b5")), "2b96a626d378caa9d0f7b8dd5f5d58f0"))
stopifnot("values of answer4 are not correct"= setequal(digest(paste(toString(sort(round(answer4, 2))), "604b5")), "e764cb129241c889021e9397d839b91b"))

print('Success!')

[1] "Success!"

## QUESTION 5

{points: 1}

Below is sample code that divides the values in each column of the `mtcars` dataset by the maximum in that column.

In [122]:
for (i in seq_along(mtcars)){
  mtcars[[c]] <- mtcars[[i]] / max(mtcars[[i]], na.rm = TRUE)
}
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    0.8
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    0.8
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    0.8
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    0.6
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    0.6
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    0.6

Find a way to do this without a loop. Store your answer in `answer5`:

```r
answer5 <- datasets::mtcars %>%
  mutate(FILL_THIS_IN(FILL_THIS_IN, FILL_THIS_IN))
 ```

 _Hint_: The last `FILL_THIS_IN` corresponds to an anonymous function.

 _Food for thought_: Here is some sample code that divides the values in each column of the `mtcars` dataset by the maximum in that column using `purrr` instead of a loop or using `mutate`: `map(mtcars, function(x) x/max(x))`. How and why is the output of this code different from `answer5`?

In [123]:
# your code here
answer5 <- datasets::mtcars %>%
  mutate(across(everything(), ~ .x / max(.x, na.rm = TRUE)))

#fail() # No Answer - remove if you provide an answer
head(answer5)

                  mpg       cyl  disp      hp        drat      wt
Mazda RX4         0.6194690 0.75 0.3389831 0.3283582 0.7910751 0.4830383
Mazda RX4 Wag     0.6194690 0.75 0.3389831 0.3283582 0.7910751 0.5300516
Datsun 710        0.6725664 0.50 0.2288136 0.2776119 0.7809331 0.4277286
Hornet 4 Drive    0.6312684 0.75 0.5466102 0.3283582 0.6247465 0.5927360
Hornet Sportabout 0.5516224 1.00 0.7627119 0.5223881 0.6389452 0.6342183
Valiant           0.5339233 0.75 0.4766949 0.3134328 0.5598377 0.6379056
                  qsec      vs am gear carb
Mazda RX4         0.7187773 0  1  0.8  0.500
Mazda RX4 Wag     0.7432314 0  1  0.8  0.500
Datsun 710        0.8126638 1  1  0.8  0.125
Hornet 4 Drive    0.8489083 1  0  0.6  0.125
Hornet Sportabout 0.7432314 0  0  0.6  0.250
Valiant           0.8829694 1  0  0.6  0.125

In [124]:
library(digest)
stopifnot("answer5 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer5)), "5fdac")), "b138db9e9fb17ac221e14cc4d3e4dd2b"))
stopifnot("dimensions of answer5 are not correct"= setequal(digest(paste(toString(dim(answer5)), "5fdac")), "63f2618f8414aecf23f332b84f71b150"))
stopifnot("column names of answer5 are not correct"= setequal(digest(paste(toString(sort(colnames(answer5))), "5fdac")), "3f329c375e864091d94b3ab305b605f3"))
stopifnot("types of columns in answer5 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer5, class)))), "5fdac")), "f6fbc266551a70ea9109a453f56251f6"))
stopifnot("values in one or more numerical columns in answer5 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer5, is.numeric))) sort(round(sapply(answer5[, sapply(answer5, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "5fdac")), "67858f09e0d1170e3269fc55ee367bf5"))
stopifnot("values in one or more character columns in answer5 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer5, is.character))) sum(sapply(answer5[sapply(answer5, is.character)], function(x) length(unique(x)))) else 0), "5fdac")), "f177b27b1423c5c4440f0a91ebf11d5f"))
stopifnot("values in one or more factor columns in answer5 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer5, is.factor))) sum(sapply(answer5[, sapply(answer5, is.factor)], function(col) length(unique(col)))) else 0), "5fdac")), "f177b27b1423c5c4440f0a91ebf11d5f"))

print('Success!')

[1] "Success!"

## QUESTION 6: `map2`

{points: 1}


Let's use `purrr` to calculate some probabilities from negative binomial distributions. One parameterization of the negative binomial distribution has a mean parameter and a dispersion parameter - this parameterization is often used to model highly variable count-valued data.

We would like to calculate the probability of observing a count of 0 and the probability of observing a count of 1 for a bunch of negative binomial distributions. Here's a function to do this for a single negative binomial distribution:

In [125]:
prob_01_neg_bin <- function(mean, disp) {
  dnbinom(x=c(0, 1), mu=mean, size=disp)
}

prob_01_neg_bin(1, 1) # calculates probability of observing 0 count and probability of observing 1 count

[1] 0.50 0.25

The `prob_01_neg_bin()` function has two arguments corresponding to the two parameters of the negative binomial distribution, so to calculate probabilities for a bunch of negative binomial distributions, we'd need a `purrr` function to plug in the two parameters. Here are the parameters we would like to plug in:

In [126]:
mean_params <- c(1, 5, 10)
disp_params <- c(0.1, 1, 5)

Store your answer in `answer6`. It should be a list of probabilities.

```r
answer6 <- map2(FILL_THIS_IN, FILL_THIS_IN, FILL_THIS_IN)
```

In [127]:
# your code here
answer6 <- map2(mean_params, disp_params, prob_01_neg_bin)

#fail() # No Answer - remove if you provide an answer
print(answer6)

[[1]]
[1] 0.78679344 0.07152668

[[2]]
[1] 0.1666667 0.1388889

[[3]]
[1] 0.004115226 0.013717421

In [128]:
library(digest)
stopifnot("type of answer6 is not list"= setequal(digest(paste(toString(class(answer6)), "6b5fb")), "6c2d958b04498e99fc24d54e38df0f00"))
stopifnot("length of answer6 is not correct"= setequal(digest(paste(toString(length(answer6)), "6b5fb")), "b65a0989e0fff0fb3fc05fc85230c4cf"))
stopifnot("values of answer6 names are not correct"= setequal(digest(paste(toString(sort(c(names(answer6)))), "6b5fb")), "979ea974d13f5ac962e4d63b8e85ff30"))
stopifnot("order of elements of answer6 is not correct"= setequal(digest(paste(toString(answer6), "6b5fb")), "a47fb1822e6d28f69c123c143e84028f"))

print('Success!')

[1] "Success!"

## Question 7

{points: 1}


Introducing the Big Bang `!!!` and `rlang::exec()`.

Using the ```palmerpenguins::penguins``` tibble:

Let's use the `recode()` function from the `dplyr` package to rename the levels of the `island` factor variable. The straightforward way to do this would be to do:

In [129]:
penguins %>% mutate(island =
   recode(island, Biscoe = "B", Dream = "D", Torgersen = "T"))

    species   island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1   Adelie    T      39.1           18.7          181               3750
2   Adelie    T      39.5           17.4          186               3800
3   Adelie    T      40.3           18.0          195               3250
4   Adelie    T        NA             NA           NA                 NA
5   Adelie    T      36.7           19.3          193               3450
6   Adelie    T      39.3           20.6          190               3650
7   Adelie    T      38.9           17.8          181               3625
8   Adelie    T      39.2           19.6          195               4675
9   Adelie    T      34.1           18.1          193               3475
10  Adelie    T      42.0           20.2          190               4250
11  Adelie    T      37.8           17.1          186               3300
12  Adelie    T      37.8           17.3          180               3700
13  Adelie    T      41.1           17.6          182               3200
14  Adelie    T      38.6           21.2          191               3800
15  Adelie    T      34.6           21.1          198               4400
16  Adelie    T      36.6           17.8          185               3700
17  Adelie    T      38.7           19.0          195               3450
18  Adelie    T      42.5           20.7          197               4500
19  Adelie    T      34.4           18.4          184               3325
20  Adelie    T      46.0           21.5          194               4200
21  Adelie    B      37.8           18.3          174               3400
22  Adelie    B      37.7           18.7          180               3600
23  Adelie    B      35.9           19.2          189               3800
24  Adelie    B      38.2           18.1          185               3950
25  Adelie    B      38.8           17.2          180               3800
26  Adelie    B      35.3           18.9          187               3800
27  Adelie    B      40.6           18.6          183               3550
28  Adelie    B      40.5           17.9          187               3200
29  Adelie    B      37.9           18.6          172               3150
30  Adelie    B      40.5           18.9          180               3950
⋮   ⋮         ⋮      ⋮              ⋮             ⋮                 ⋮
315 Chinstrap D      46.9           16.6          192               2700
316 Chinstrap D      53.5           19.9          205               4500
317 Chinstrap D      49.0           19.5          210               3950
318 Chinstrap D      46.2           17.5          187               3650
319 Chinstrap D      50.9           19.1          196               3550
320 Chinstrap D      45.5           17.0          196               3500
321 Chinstrap D      50.9           17.9          196               3675
322 Chinstrap D      50.8           18.5          201               4450
323 Chinstrap D      50.1           17.9          190               3400
324 Chinstrap D      49.0           19.6          212               4300
325 Chinstrap D      51.5           18.7          187               3250
326 Chinstrap D      49.8           17.3          198               3675
327 Chinstrap D      48.1           16.4          199               3325
328 Chinstrap D      51.4           19.0          201               3950
329 Chinstrap D      45.7           17.3          193               3600
330 Chinstrap D      50.7           19.7          203               4050
331 Chinstrap D      42.5           17.3          187               3350
332 Chinstrap D      52.2           18.8          197               3450
333 Chinstrap D      45.2           16.6          191               3250
334 Chinstrap D      49.3           19.9          203               4050
335 Chinstrap D      50.2           18.8          202               3800
336 Chinstrap D      45.6           19.4          194               3525
337 Chinstrap D      51.9           19.5          206               3950
338 Chinstrap D      46.8           16.5          189               3650
339 Chinstrap D      45.7           17.0          195               3650
340 Chinstrap D      55.8           19.8          207               4000
341 Chinstrap D      43.5           18.1          202               3400
342 Chinstrap D      49.6           18.2          193               3775
343 Chinstrap D      50.8           19.0          210               4100
344 Chinstrap D      50.2           18.7          198               3775
    sex    year
1   male   2007
2   female 2007
3   female 2007
4   NA     2007
5   female 2007
6   male   2007
7   female 2007
8   male   2007
9   NA     2007
10  NA     2007
11  NA     2007
12  NA     2007
13  female 2007
14  male   2007
15  male   2007
16  female 2007
17  female 2007
18  male   2007
19  female 2007
20  male   2007
21  female 2007
22  male   2007
23  female 2007
24  male   2007
25  male   2007
26  female 2007
27  male   2007
28  female 2007
29  female 2007
30  male   2007
⋮   ⋮      ⋮
315 female 2008
316 male   2008
317 male   2008
318 female 2008
319 male   2008
320 female 2008
321 female 2009
322 male   2009
323 female 2009
324 male   2009
325 male   2009
326 female 2009
327 female 2009
328 male   2009
329 female 2009
330 male   2009
331 female 2009
332 male   2009
333 female 2009
334 male   2009
335 male   2009
336 female 2009
337 male   2009
338 female 2009
339 female 2009
340 male   2009
341 female 2009
342 male   2009
343 male   2009
344 female 2009

But what if you wanted to specify the levels to be renamed and their new names via a list?

In [130]:
island_level_key <- c(Biscoe = "B", Dream = "D", Torgersen = "T")

Inputting the list itself via `penguins %>% mutate(island = recode(island, island_level_key))` throws an error, because `dplyr::recode()` is not expecting a list input. What's the alternative?

Your task: use the big bang operator (`!!!`) in front of the list argument, to get the desired result. This effectively takes the arguments of a list, and puts them as arguments to a function.

```
answer12 <- penguins %>% mutate(island = recode(island, FILL_THIS_IN))
```

__FYI__: Conveniently, `dplyr::recode()` recognizes the big bang operator. If you have a function that doesn't recognize it (like `sum()`), use `rlang::exec(function, !!!list_of_arguments)` instead.

In [131]:
# your code here
answer7 <- penguins %>% mutate(island = recode(island, !!!island_level_key))

#fail() # No Answer - remove if you provide an answer
print(answer7)

# A tibble: 344 × 8
   species island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
   <fct>   <fct>           <dbl>         <dbl>             <int>       <int>
 1 Adelie  T                39.1          18.7               181        3750
 2 Adelie  T                39.5          17.4               186        3800
 3 Adelie  T                40.3          18                 195        3250
 4 Adelie  T                NA            NA                  NA          NA
 5 Adelie  T                36.7          19.3               193        3450
 6 Adelie  T                39.3          20.6               190        3650
 7 Adelie  T                38.9          17.8               181        3625
 8 Adelie  T                39.2          19.6               195        4675
 9 Adelie  T                34.1          18.1               193        3475
10 Adelie  T                42            20.2               190        4250
# ℹ 334 more rows
# ℹ 2 more variables: sex <fct>, year <int>

In [132]:
library(digest)
stopifnot("answer7 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer7)), "5f6c2")), "b39c77a998021d8db7fb364d95551061"))
stopifnot("dimensions of answer7 are not correct"= setequal(digest(paste(toString(dim(answer7)), "5f6c2")), "6416b57caa3680d2cecf64e1bceff981"))
stopifnot("column names of answer7 are not correct"= setequal(digest(paste(toString(sort(colnames(answer7))), "5f6c2")), "62f1dbc919a235ece6536c7535c82f1b"))
stopifnot("types of columns in answer7 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer7, class)))), "5f6c2")), "4facb82c0e1e55a769694c970c4e9b91"))
stopifnot("values in one or more numerical columns in answer7 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer7, is.numeric))) sort(round(sapply(answer7[, sapply(answer7, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "5f6c2")), "2a8bb0e08933e827db9ab07a20105567"))
stopifnot("values in one or more character columns in answer7 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer7, is.character))) sum(sapply(answer7[sapply(answer7, is.character)], function(x) length(unique(x)))) else 0), "5f6c2")), "7a0a9ee4dc11dd2381143aac16ef84dd"))
stopifnot("values in one or more factor columns in answer7 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer7, is.factor))) sum(sapply(answer7[, sapply(answer7, is.factor)], function(col) length(unique(col)))) else 0), "5f6c2")), "83743bdfcd168d5191e61660307af13b"))

print('Success!')

[1] "Success!"

# Part 2: Nesting and List Columns

_One_ of the ways a list-column can be made is by using `nest()`.

## QUESTION 8

{points: 1}


Create a tibble that bundles everything in `gapminder` except for `country` and `continent` into a list-column. Name your list column `other` (without using `rename()` or `mutate()`). Store your answer in `answer8`.

```r
answer8 <- gapminder %>%
   nest(FILL_THIS_IN = FILL_THIS_IN)
```

In [133]:
# your code here
answer8 <- gapminder %>%
  nest(other = -c(country, continent))

#fail() # No Answer - remove if you provide an answer
head(answer8, n = 3)

   country     continent other <NA>   <NA>     <NA>     <NA> <NA>   <NA>
1  Afghanistan Asia      1952  28.801  8425333 779.4453 1952 55.230 1282697
2  Albania     Europe    1957  30.332  9240934 820.8530 1957 59.280 1476505
3  Algeria     Africa    1962  31.997 10267083 853.1007 1962 64.820 1728137
4  Afghanistan Asia      1967  34.020 11537966 836.1971 1967 66.220 1984060
5  Albania     Europe    1972  36.088 13079460 739.9811 1972 67.690 2263554
6  Algeria     Africa    1977  38.438 14880372 786.1134 1977 68.930 2509048
7  Afghanistan Asia      1982  39.854 12881816 978.0114 1982 70.420 2780097
8  Albania     Europe    1987  40.822 13867957 852.3959 1987 72.000 3075321
9  Algeria     Africa    1992  41.674 16317921 649.3414 1992 71.581 3326498
10 Afghanistan Asia      1997  41.763 22227415 635.3414 1997 72.950 3428038
11 Albania     Europe    2002  42.129 25268405 726.7341 2002 75.651 3508512
12 Algeria     Africa    2007  43.828 31889923 974.5803 2007 76.423 3600523
   <NA>     <NA> <NA>   <NA>     <NA>
1  1601.056 1952 43.077  9279525 2449.008
2  1942.284 1957 45.685 10270856 3013.976
3  2312.889 1962 48.303 11000948 2550.817
4  2760.197 1967 51.407 12760499 3246.992
5  3313.422 1972 54.518 14760787 4182.664
6  3533.004 1977 58.014 17152804 4910.417
7  3630.881 1982 61.368 20033753 5745.160
8  3738.933 1987 65.799 23254956 5681.359
9  2497.438 1992 67.744 26298373 5023.217
10 3193.055 1997 69.152 29072015 4797.295
11 4604.212 2002 70.994 31287142 5288.040
12 5937.030 2007 72.301 33333216 6223.367

In [134]:
library(digest)
stopifnot("answer8 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer8)), "b9b72")), "0d58b201418ea7ec6b7bd8a3d88cd382"))
stopifnot("dimensions of answer8 are not correct"= setequal(digest(paste(toString(dim(answer8)), "b9b72")), "489670ae32b2356ae7ff709e5c89f6aa"))
stopifnot("column names of answer8 are not correct"= setequal(digest(paste(toString(sort(colnames(answer8))), "b9b72")), "f745727f8ef4f917410c1b93f1847125"))
stopifnot("types of columns in answer8 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer8, class)))), "b9b72")), "d3b88846b0c3653b2b15b108dfbaea70"))
stopifnot("values in one or more numerical columns in answer8 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer8, is.numeric))) sort(round(sapply(answer8[, sapply(answer8, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "b9b72")), "bd39c8036a5e2e3fd16fd332486decfb"))
stopifnot("values in one or more character columns in answer8 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer8, is.character))) sum(sapply(answer8[sapply(answer8, is.character)], function(x) length(unique(x)))) else 0), "b9b72")), "bd39c8036a5e2e3fd16fd332486decfb"))
stopifnot("values in one or more factor columns in answer8 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer8, is.factor))) sum(sapply(answer8[, sapply(answer8, is.factor)], function(col) length(unique(col)))) else 0), "b9b72")), "8823a034b870354ae6ca03d7afab3086"))

print('Success!')

[1] "Success!"

## QUESTION 9

{points: 1}


_Reproducibly_ sample 5 countries in the `gapminder` tibble at random. Store your answer in `answer9`, and set the seed as 123.

```r
FILL_THIS_IN(123)
answer9 <- gapminder %>%
    nest(FILL_THIS_IN = FILL_THIS_IN) %>%
    slice_sample(n=5) %>%
    unnest(FILL_THIS_IN)
```

In [135]:
# your code here
set.seed(123)
answer9 <- gapminder %>%
  nest(data = -country) %>%
  slice_sample(n = 5) %>%
  unnest(data)

#fail() # No Answer - remove if you provide an answer
head(answer9)

  country  continent year lifeExp pop    gdpPercap
1 Botswana Africa    1952 47.622  442308  851.2411
2 Botswana Africa    1957 49.618  474639  918.2325
3 Botswana Africa    1962 51.520  512764  983.6540
4 Botswana Africa    1967 53.298  553541 1214.7093
5 Botswana Africa    1972 56.024  619351 2263.6111
6 Botswana Africa    1977 59.319  781472 3214.8578

In [136]:
library(digest)
stopifnot("answer9 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer9)), "599b7")), "48c0a34216d17e6057d16828c2683fd3"))
stopifnot("dimensions of answer9 are not correct"= setequal(digest(paste(toString(dim(answer9)), "599b7")), "7e5ef29e4b2110d9bfd6c770c912d4a9"))
stopifnot("column names of answer9 are not correct"= setequal(digest(paste(toString(sort(colnames(answer9))), "599b7")), "bed94b3894b648557ecedd631d4dafd7"))
stopifnot("types of columns in answer9 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer9, class)))), "599b7")), "1b23763f8ebc29e55dac9460b67e7dcb"))
stopifnot("values in one or more numerical columns in answer9 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer9, is.numeric))) sort(round(sapply(answer9[, sapply(answer9, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "599b7")), "4e34cb96d19a25212dc85a84417109fe"))
stopifnot("values in one or more character columns in answer9 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer9, is.character))) sum(sapply(answer9[sapply(answer9, is.character)], function(x) length(unique(x)))) else 0), "599b7")), "062be694296c582dfa7dc052d658785a"))
stopifnot("values in one or more factor columns in answer9 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer9, is.factor))) sum(sapply(answer9[, sapply(answer9, is.factor)], function(col) length(unique(col)))) else 0), "599b7")), "4ac8eeae0c116537e6df975c907f1f84"))

print('Success!')

[1] "Success!"

## QUESTION 10

{points: 1}


For each `gapminder` continent, fit a linear model of `lifeExp` from `log(gdpPercap)` and put this as a new column. Store your answer into `answer10`:

```r
answer10 <- gapminder %>%
  select(continent, gdpPercap, lifeExp) %>%
  nest(data = c(FILL_THIS_IN, FILL_THIS_IN)) %>%
  mutate(model = FILL_THIS_IN(data, ~ lm(FILL_THIS_IN ~ FILL_THIS_IN, data = FILL_THIS_IN)))
```

In [137]:
# your code here
answer10 <- gapminder %>%
  select(continent, gdpPercap, lifeExp) %>%
  nest(data = c(gdpPercap, lifeExp)) %>%
  mutate(model = map(data, ~ lm(lifeExp ~ log(gdpPercap), data = .x)))

#fail() # No Answer - remove if you provide an answer
print(answer10)

# A tibble: 5 × 3
  continent data               model
  <fct>     <list>             <list>
1 Asia      <tibble [396 × 2]> <lm>
2 Europe    <tibble [360 × 2]> <lm>
3 Africa    <tibble [624 × 2]> <lm>
4 Americas  <tibble [300 × 2]> <lm>
5 Oceania   <tibble [24 × 2]>  <lm>

In [138]:
library(digest)
stopifnot("answer10 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer10)), "7f1ee")), "9b17cc48215922e7ce47ee8edf7b57ee"))
stopifnot("dimensions of answer10 are not correct"= setequal(digest(paste(toString(dim(answer10)), "7f1ee")), "677b28431407039b1bccc870cd6ccbd8"))
stopifnot("column names of answer10 are not correct"= setequal(digest(paste(toString(sort(colnames(answer10))), "7f1ee")), "aa869a55bd83acdf3868e6dd20a2bbca"))
stopifnot("types of columns in answer10 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer10, class)))), "7f1ee")), "b12c3abc92b6d0acff458e69628c16a6"))
stopifnot("values in one or more numerical columns in answer10 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer10, is.numeric))) sort(round(sapply(answer10[, sapply(answer10, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "7f1ee")), "581f8324613cf725720df97b30a2350a"))
stopifnot("values in one or more character columns in answer10 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer10, is.character))) sum(sapply(answer10[sapply(answer10, is.character)], function(x) length(unique(x)))) else 0), "7f1ee")), "581f8324613cf725720df97b30a2350a"))
stopifnot("values in one or more factor columns in answer10 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer10, is.factor))) sum(sapply(answer10[, sapply(answer10, is.factor)], function(col) length(unique(col)))) else 0), "7f1ee")), "1922c5af8711f19a557c13e7887936f6"))

print('Success!')

[1] "Success!"

## QUESTION 11

{points: 1}


Using your model from Question 10, make predictions using `augment()` from the `broom` package, and then `unnest`. Store your answer in `answer11`:

```r
answer11 <- answer10 %>%
  mutate(continent, yhat = map(FILL_THIS_IN, FILL_THIS_IN), .keep = "none") %>%
  unnest(FILL_THIS_IN)
```

In [139]:
# your code here
answer11 <- answer10 %>%
  mutate(continent, yhat = map(model, augment), .keep = "none") %>%
  unnest(yhat)

#fail() # No Answer - remove if you provide an answer
print(answer11)

# A tibble: 1,704 × 9
   continent lifeExp `log(gdpPercap)` .fitted .resid    .hat .sigma .cooksd
   <fct>       <dbl>            <dbl>   <dbl>  <dbl>   <dbl>  <dbl>   <dbl>
 1 Asia         28.8             6.66    51.2 -22.4  0.00548   8.54 0.0188
 2 Asia         30.3             6.71    51.6 -21.2  0.00527   8.55 0.0162
 3 Asia         32.0             6.75    51.8 -19.8  0.00511   8.56 0.0137
 4 Asia         34.0             6.73    51.7 -17.6  0.00519   8.57 0.0110
 5 Asia         36.1             6.61    50.9 -14.8  0.00570   8.58 0.00855
 6 Asia         38.4             6.67    51.3 -12.8  0.00544   8.59 0.00613
 7 Asia         39.9             6.89    52.6 -12.8  0.00461   8.59 0.00514
 8 Asia         40.8             6.75    51.8 -11.0  0.00512   8.60 0.00420
 9 Asia         41.7             6.48    50.1  -8.41 0.00629   8.60 0.00304
10 Asia         41.8             6.45    49.9  -8.19 0.00640   8.61 0.00293
# ℹ 1,694 more rows
# ℹ 1 more variable: .std.resid <dbl>

In [140]:
library(digest)
stopifnot("answer11 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer11)), "b1656")), "42799cbfc1005613567643475d326d57"))
stopifnot("dimensions of answer11 are not correct"= setequal(digest(paste(toString(dim(answer11)), "b1656")), "e8ab4506966d8aa8d5c6969b1b4be504"))
stopifnot("column names of answer11 are not correct"= setequal(digest(paste(toString(sort(colnames(answer11))), "b1656")), "aecf523d94ad853496e068f2e890bae5"))
stopifnot("types of columns in answer11 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer11, class)))), "b1656")), "657c3f656cbd50824a79be55b5f2a2ab"))
stopifnot("values in one or more numerical columns in answer11 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer11, is.numeric))) sort(round(sapply(answer11[, sapply(answer11, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "b1656")), "764f2ce8eb1df2449bdeccfb7f30cb32"))
stopifnot("values in one or more character columns in answer11 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer11, is.character))) sum(sapply(answer11[sapply(answer11, is.character)], function(x) length(unique(x)))) else 0), "b1656")), "010da7c27c1c5d77b8b2ba0135016795"))
stopifnot("values in one or more factor columns in answer11 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer11, is.factor))) sum(sapply(answer11[, sapply(answer11, is.factor)], function(col) length(unique(col)))) else 0), "b1656")), "45cb8b49ff2019614de5f62e7e59d191"))

print('Success!')

[1] "Success!"

## Question 12: `pmap`

{points: 1}


Using the `palmerpenguins::penguins` tibble, calculate a 95% confidence interval based on the one-sample t-test for the mean body mass in grams of each penguin species. Here is code to do this for the Adelie penguins:

In [141]:
get_adelie_stats <- penguins %>%
  filter(species == "Adelie") %>%
  summarise(mean = mean(body_mass_g, na.rm = TRUE),
            sd = sd(body_mass_g, na.rm = TRUE),
            n = n())

# Given a sample mean, sample standard deviation, and sample size,
# calculate a 95% confidence interval for the population mean
make_95p_conf_int_t <- function(mean, sd, n) {
  c(lower_95p_ci = mean - qt(0.975, df=n-1), upper_95p_ci = mean + qt(0.975, df=n-1))
}

make_95p_conf_int_t(get_adelie_stats$mean, get_adelie_stats$var, get_adelie_stats$n)

lower_95p_ci upper_95p_ci
    3698.686     3702.638

To do this for all three species of penguins, we will need a `purrr` function to plug the three parameters of `make_95p_conf_int_t()` into.

Starter code:

```
answer12  <- penguins %>%
  group_by(species) %>%
  summarise(mean = mean(body_mass_g, na.rm = TRUE),
            sd  = sd(body_mass_g, na.rm = TRUE),
            n = n()) %>%
  mutate(ci = pmap(FILL_THIS_IN, FILL_THIS_IN))
```

Your answer should be a tibble with five columns named `species`, `mean`, `sd`, `n`, and `ci`.

In [142]:
# your code here
answer12 <- penguins %>%
  group_by(species) %>%
  summarise(mean = mean(body_mass_g, na.rm = TRUE),
            sd = sd(body_mass_g, na.rm = TRUE),
            n = n()) %>%
  mutate(ci = pmap(list(mean, sd, n), make_95p_conf_int_t))

#fail() # No Answer - remove if you provide an answer
print(answer12)

# A tibble: 3 × 5
  species    mean    sd     n ci
  <fct>     <dbl> <dbl> <int> <list>
1 Adelie    3701.  459.   152 <dbl [2]>
2 Chinstrap 3733.  384.    68 <dbl [2]>
3 Gentoo    5076.  504.   124 <dbl [2]>

In [143]:
library(digest)
stopifnot("answer12 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer12)), "1c223")), "86d198252f75b8982df5ed641b59bec0"))
stopifnot("dimensions of answer12 are not correct"= setequal(digest(paste(toString(dim(answer12)), "1c223")), "aa9de852789b2abec1efa4f2019e976a"))
stopifnot("column names of answer12 are not correct"= setequal(digest(paste(toString(sort(colnames(answer12))), "1c223")), "4317a2a9127e000f298cdd68ebbf0593"))
stopifnot("types of columns in answer12 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer12, class)))), "1c223")), "290e1b9bbfc2878d704ffb6354eb1913"))
stopifnot("values in one or more numerical columns in answer12 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer12, is.numeric))) sort(round(sapply(answer12[, sapply(answer12, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "1c223")), "7b4db1c8f268b6399d60802c8c6cb305"))
stopifnot("values in one or more character columns in answer12 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer12, is.character))) sum(sapply(answer12[sapply(answer12, is.character)], function(x) length(unique(x)))) else 0), "1c223")), "ddf6c55a5b4cbcf483f4627444cad21d"))
stopifnot("values in one or more factor columns in answer12 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer12, is.factor))) sum(sapply(answer12[, sapply(answer12, is.factor)], function(col) length(unique(col)))) else 0), "1c223")), "9c4f8fd655fb80934ca32ca185f8fffe"))

print('Success!')

[1] "Success!"

## Question 13 `unnest()`

{points: 1}


`unnest()` need not always be paired with `nest()`. Make a tibble `answer13` that is a longer version of `answer12` where the column `ci` is of double type.

Starter code:

```
answer13 <- answer12 %>% unnest(FILL_THIS_IN)
```

In [144]:
# your code here
answer13 <- answer12 %>% unnest(ci)

#fail() # No Answer - remove if you provide an answer
print(answer13)

# A tibble: 6 × 5
  species    mean    sd     n    ci
  <fct>     <dbl> <dbl> <int> <dbl>
1 Adelie    3701.  459.   152 3699.
2 Adelie    3701.  459.   152 3703.
3 Chinstrap 3733.  384.    68 3731.
4 Chinstrap 3733.  384.    68 3735.
5 Gentoo    5076.  504.   124 5074.
6 Gentoo    5076.  504.   124 5078.

In [145]:
library(digest)
stopifnot("answer13 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer13)), "87c96")), "ad72bc4fa83d1ce9e6516e67f6f71e79"))
stopifnot("dimensions of answer13 are not correct"= setequal(digest(paste(toString(dim(answer13)), "87c96")), "a359feb4008b2a82d0654958fcb5e1ff"))
stopifnot("column names of answer13 are not correct"= setequal(digest(paste(toString(sort(colnames(answer13))), "87c96")), "d4a0318aad0b7b5ea302d3baeaf6f3f0"))
stopifnot("types of columns in answer13 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer13, class)))), "87c96")), "a2a39b55d7ebcc156530904d7cbcd821"))
stopifnot("values in one or more numerical columns in answer13 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer13, is.numeric))) sort(round(sapply(answer13[, sapply(answer13, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "87c96")), "69e7e5a04bf64ae67b634f0c17f80b79"))
stopifnot("values in one or more character columns in answer13 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer13, is.character))) sum(sapply(answer13[sapply(answer13, is.character)], function(x) length(unique(x)))) else 0), "87c96")), "9f69111fd5a130f61f4ee5dfc6540689"))
stopifnot("values in one or more factor columns in answer13 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer13, is.factor))) sum(sapply(answer13[, sapply(answer13, is.factor)], function(col) length(unique(col)))) else 0), "87c96")), "6e5c65b7e07466a2a094049a3f4f3e4b"))

print('Success!')

[1] "Success!"

## Question 14

{points: 1}


Output a list of gapminder tibbles, one for each continent. Do not include the `continent` column in the divided tibbles -- the name of each list entry should be the continent name.

_Hint_: Check out the `enframe()` and `deframe()` functions.

Starter code:

```
answer14 <- gapminder %>%
    nest(FILL_THIS_IN) %>%
    FILL_THIS_IN()
```

In [146]:
# your code here
answer14 <- gapminder %>%
  nest(data = -continent) %>%
  deframe()

#fail() # No Answer - remove if you provide an answer
print(answer14)

$Asia
# A tibble: 396 × 5
   country      year lifeExp      pop gdpPercap
   <fct>       <int>   <dbl>    <int>     <dbl>
 1 Afghanistan  1952    28.8  8425333      779.
 2 Afghanistan  1957    30.3  9240934      821.
 3 Afghanistan  1962    32.0 10267083      853.
 4 Afghanistan  1967    34.0 11537966      836.
 5 Afghanistan  1972    36.1 13079460      740.
 6 Afghanistan  1977    38.4 14880372      786.
 7 Afghanistan  1982    39.9 12881816      978.
 8 Afghanistan  1987    40.8 13867957      852.
 9 Afghanistan  1992    41.7 16317921      649.
10 Afghanistan  1997    41.8 22227415      635.
# ℹ 386 more rows

$Europe
# A tibble: 360 × 5
   country  year lifeExp     pop gdpPercap
   <fct>   <int>   <dbl>   <int>     <dbl>
 1 Albania  1952    55.2 1282697     1601.
 2 Albania  1957    59.3 1476505     1942.
 3 Albania  1962    64.8 1728137     2313.
 4 Albania  1967    66.2 1984060     2760.
 5 Albania  1972    67.7 2263554     3313.
 6 Albania  1977    68.9 2509048     3533.
 7 Albania  1982    70.4 2780097     3631.
 8 Albania  1987    72   3075321     3739.
 9 Albania  1992    71.6 3326498     2497.
10 Albania  1997    73.0 3428038     3193.
# ℹ 350 more rows

$Africa
# A tibble: 624 × 5
   country  year lifeExp      pop gdpPercap
   <fct>   <int>   <dbl>    <int>     <dbl>
 1 Algeria  1952    43.1  9279525     2449.
 2 Algeria  1957    45.7 10270856     3014.
 3 Algeria  1962    48.3 11000948     2551.
 4 Algeria  1967    51.4 12760499     3247.
 5 Algeria  1972    54.5 14760787     4183.
 6 Algeria  1977    58.0 17152804     4910.
 7 Algeria  1982    61.4 20033753     5745.
 8 Algeria  1987    65.8 23254956     5681.
 9 Algeria  1992    67.7 26298373     5023.
10 Algeria  1997    69.2 29072015     4797.
# ℹ 614 more rows

$Americas
# A tibble: 300 × 5
   country    year lifeExp      pop gdpPercap
   <fct>     <int>   <dbl>    <int>     <dbl>
 1 Argentina  1952    62.5 17876956     5911.
 2 Argentina  1957    64.4 19610538     6857.
 3 Argentina  1962    65.1 21283783     7133.
 4 Argentina  1967    65.6 22934225     8053.
 5 Argentina  1972    67.1 24779799     9443.
 6 Argentina  1977    68.5 26983828    10079.
 7 Argentina  1982    69.9 29341374     8998.
 8 Argentina  1987    70.8 31620918     9140.
 9 Argentina  1992    71.9 33958947     9308.
10 Argentina  1997    73.3 36203463    10967.
# ℹ 290 more rows

$Oceania
# A tibble: 24 × 5
   country    year lifeExp      pop gdpPercap
   <fct>     <int>   <dbl>    <int>     <dbl>
 1 Australia  1952    69.1  8691212    10040.
 2 Australia  1957    70.3  9712569    10950.
 3 Australia  1962    70.9 10794968    12217.
 4 Australia  1967    71.1 11872264    14526.
 5 Australia  1972    71.9 13177000    16789.
 6 Australia  1977    73.5 14074100    18334.
 7 Australia  1982    74.7 15184200    19477.
 8 Australia  1987    76.3 16257249    21889.
 9 Australia  1992    77.6 17481977    23425.
10 Australia  1997    78.8 18565243    26998.
# ℹ 14 more rows

In [147]:
library(digest)
stopifnot("type of answer14 is not list"= setequal(digest(paste(toString(class(answer14)), "de4e")), "9ed367519f53843c1cdfe34a4253b5b8"))
stopifnot("length of answer14 is not correct"= setequal(digest(paste(toString(length(answer14)), "de4e")), "8a0e33a92d7fdf5e8c7e2a4f07e9cc60"))
stopifnot("values of answer14 names are not correct"= setequal(digest(paste(toString(sort(c(names(answer14)))), "de4e")), "082005a2d5d104975ae338ea0c5fd414"))
stopifnot("order of elements of answer14 is not correct"= setequal(digest(paste(toString(answer14), "de4e")), "06a1942655a9c28e513f20e84ee5a4eb"))

print('Success!')

[1] "Success!"

## Question 15

{points: 1}


Sometimes the vector/list we're iterating over has names, and it's useful to use those names. To access these names, use the `imap` family.

For the list of tibbles made in the above question, save each one to file using the appropriate purrr function, using the names as the file names.

Starter code:

```
answer15 <- FILL_THIS_IN(answer14, ~ write_csv(FILL_THIS_IN, glue::glue(FILL_THIS_IN, ".csv")))
```

In [148]:
# your code here
answer15 <- imap(answer14, ~ write_csv(.x, glue::glue(.y, ".csv")))

#fail() # No Answer - remove if you provide an answer
dir()

[1] "Africa.csv"   "Americas.csv" "Asia.csv"     "Europe.csv"   "Oceania.csv"
[6] "sample_data"

In [149]:
library(digest)
stopifnot("type of (test_that(\"Question 15\", {expect_true(\"Africa.csv\" %in% dir())}) == TRUE) is not logical"= setequal(digest(paste(toString(class((test_that("Question 15", {expect_true("Africa.csv" %in% dir())}) == TRUE))), "b77bf")), "712a549f79be2e43a4d4016acb7c2f49"))
stopifnot("logical value of (test_that(\"Question 15\", {expect_true(\"Africa.csv\" %in% dir())}) == TRUE) is not correct"= setequal(digest(paste(toString((test_that("Question 15", {expect_true("Africa.csv" %in% dir())}) == TRUE)), "b77bf")), "88647aaa2cfa568eba49a0c0c1abd8c9"))

stopifnot("type of (test_that(\"Question 15\", {expect_true(\"Oceania.csv\" %in% dir())}) == TRUE) is not logical"= setequal(digest(paste(toString(class((test_that("Question 15", {expect_true("Oceania.csv" %in% dir())}) == TRUE))), "b77c0")), "c6b75d8799cbe154e114041aa8e8464d"))
stopifnot("logical value of (test_that(\"Question 15\", {expect_true(\"Oceania.csv\" %in% dir())}) == TRUE) is not correct"= setequal(digest(paste(toString((test_that("Question 15", {expect_true("Oceania.csv" %in% dir())}) == TRUE)), "b77c0")), "40c639a1a5a1fc04bab04a7bb8c5b4bf"))

print('Success!')

Test passed with 1 success 😸.
Test passed with 1 success 😀.
Test passed with 1 success 🎉.
Test passed with 1 success 🥇.
[1] "Success!"

# Part 3: Recursive Lists

We won't focus much on recursive lists in this course, but here is a little taste of it.

## Question 16: `unnest_wider()` and `unnest_longer()`

{points: 1}


Explore the `repurrrsive::got_chars` nested list. It contains information about Game of Thrones characters.

In [150]:
str(got_chars, list.len = 4)

List of 30
 $ :List of 18
  ..$ url        : chr "https://www.anapioficeandfire.com/api/characters/1022"
  ..$ id         : int 1022
  ..$ name       : chr "Theon Greyjoy"
  ..$ gender     : chr "Male"
  .. [list output truncated]
 $ :List of 18
  ..$ url        : chr "https://www.anapioficeandfire.com/api/characters/1052"
  ..$ id         : int 1052
  ..$ name       : chr "Tyrion Lannister"
  ..$ gender     : chr "Male"
  .. [list output truncated]
 $ :List of 18
  ..$ url        : chr "https://www.anapioficeandfire.com/api/characters/1074"
  ..$ id         : int 1074
  ..$ name       : chr "Victarion Greyjoy"
  ..$ gender     : chr "Male"
  .. [list output truncated]
 $ :List of 18
  ..$ url        : chr "https://www.anapioficeandfire.com/api/characters/1109"
  ..$ id         : int 1109
  ..$ name       : chr "Will"
  ..$ gender     : chr "Male"
  .. [list output truncated]
  [list output truncated]

Put the list in a tibble:

In [151]:
got_chars_tbl <- tibble(character = repurrrsive::got_chars)
print(got_chars_tbl, n = 5)

# A tibble: 30 × 1
  character
  <list>
1 <named list [18]>
2 <named list [18]>
3 <named list [18]>
4 <named list [18]>
5 <named list [18]>
# ℹ 25 more rows

Would widening the list column work best, or lengthening? Do it.

```
answer16 <- FILL_THIS_IN(got_chars_tbl, character)
```

In [152]:
# your code here
answer16 <- got_chars_tbl %>% unnest_wider(character)
#fail() # No Answer - remove if you provide an answer
print(answer16, n = 5)

# A tibble: 30 × 18
  url            id name  gender culture born  died  alive titles aliases father
  <chr>       <int> <chr> <chr>  <chr>   <chr> <chr> <lgl> <list> <list>  <chr>
1 https://ww…  1022 Theo… Male   "Ironb… "In … ""    TRUE  <chr>  <chr>   ""
2 https://ww…  1052 Tyri… Male   ""      "In … ""    TRUE  <chr>  <chr>   ""
3 https://ww…  1074 Vict… Male   "Ironb… "In … ""    TRUE  <chr>  <chr>   ""
4 https://ww…  1109 Will  Male   ""      ""    "In … FALSE <chr>  <chr>   ""
5 https://ww…  1166 Areo… Male   "Norvo… "In … ""    TRUE  <chr>  <chr>   ""
# ℹ 25 more rows
# ℹ 7 more variables: mother <chr>, spouse <chr>, allegiances <list>,
#   books <list>, povBooks <list>, tvSeries <list>, playedBy <list>

In [153]:
library(digest)
stopifnot("answer16 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer16)), "932c4")), "beed9247bace4e0d2f54dda84048d1c5"))
stopifnot("dimensions of answer16 are not correct"= setequal(digest(paste(toString(dim(answer16)), "932c4")), "01107d73b7437fcd2642c0e822e33f44"))
stopifnot("column names of answer16 are not correct"= setequal(digest(paste(toString(sort(colnames(answer16))), "932c4")), "d6603b5915dc048f4ef487b2ff3efa25"))
stopifnot("types of columns in answer16 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer16, class)))), "932c4")), "0d490e191b6c4530d8f709f9ca5a5db3"))
stopifnot("values in one or more numerical columns in answer16 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer16, is.numeric))) sort(round(sapply(answer16[, sapply(answer16, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "932c4")), "ad1980c0006cd1d68e90952977be52b4"))
stopifnot("values in one or more character columns in answer16 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer16, is.character))) sum(sapply(answer16[sapply(answer16, is.character)], function(x) length(unique(x)))) else 0), "932c4")), "c665790db2076c499c3df2e6c25b6a0c"))
stopifnot("values in one or more factor columns in answer16 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer16, is.factor))) sum(sapply(answer16[, sapply(answer16, is.factor)], function(col) length(unique(col)))) else 0), "932c4")), "8671c94ed835509da2697454c129fa5d"))

print('Success!')

[1] "Success!"

Final worksheet completed! 🤩

Restart, run all, save, and submit to canvas!