<a href="https://colab.research.google.com/github/Ricky0917/STAT-545/blob/main/worksheet_a04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Ruiqi Zang

Student ID: 24075277

# Worksheet A4: Tidy Data & The Model-Fitting Paradigm in R (15 points)
**Fall 2025**


By the end of this worksheet, you will be able to:

(From tidyr)

- convert a dataset between the 'long' and 'wide' format, using `tidyr::pivot_longer()` and `tidyr::pivot_wider()`
- assess which format is best suited for each type of analysis
- deal with missing data in a tibble

(From modelling)

- make a model object in R, using `lm()` as an example.
- write a formula in R.
- predict on a model object with the `broom::augment()` and `predict()` functions.
- extract information from a model object using `broom::tidy()`, `broom::glance()`, and traditional means.

Each question is worth 1 point (15 questions total)

## Getting Started

Load the requirements for this worksheet:

In [ ]:
library(testthat)
library(digest)
suppressPackageStartupMessages(library(tidyverse))
suppressPackageStartupMessages(library(broom))
suppressPackageStartupMessages(library(gapminder))
lotr  <- suppressMessages(read_csv("https://raw.githubusercontent.com/jennybc/lotr-tidy/master/data/lotr_tidy.csv"))
guest <- suppressMessages(read_csv("https://raw.githubusercontent.com/STAT545-UBC/Classroom/master/data/wedding/attend.csv"))

The following code chunk has been unlocked, to give you the flexibility to start this document with some of your own code. Remember, it's bad manners to keep a call to `install.packages()` in your source code, so don't forget to delete these lines if you ever need to run them.

In [ ]:
# An unlocked code cell.
#install.packages("gapminder")
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(testthat)
library(digest)
suppressPackageStartupMessages(library(tidyverse))
suppressPackageStartupMessages(library(broom))
suppressPackageStartupMessages(library(gapminder))
lotr  <- suppressMessages(read_csv("https://raw.githubusercontent.com/jennybc/lotr-tidy/master/data/lotr_tidy.csv"))
guest <- suppressMessages(read_csv("https://raw.githubusercontent.com/STAT545-UBC/Classroom/master/data/wedding/attend.csv"))

# Part 1: Tidy Data with Univariate Pivoting

Consider the Lord of the Rings data. Run the code cell below to see the first few lines of the tibble.

In [ ]:
print(lotr, n = 5)

# A tibble: 18 × 4
  Film                       Race   Gender Words
  <chr>                      <chr>  <chr>  <dbl>
1 The Fellowship Of The Ring Elf    Female  1229
2 The Fellowship Of The Ring Hobbit Female    14
3 The Fellowship Of The Ring Man    Female     0
4 The Two Towers             Elf    Female   331
5 The Two Towers             Hobbit Female     0
# ℹ 13 more rows

## Question 1.1

{points: 1}

Widen the data so that we see the words spoken by each race, by puttting race as its own column. Store the answer in `answer1.1`.

```
(answer1.1 <- lotr %>%
    FILL_THIS_IN(names_from = FILL_THIS_IN,
                values_from = FILL_THIS_IN))
```

Your `answer1.1` should look something like this (full tibble not always shown):

![answer1.1](https://github.com/UBC-STAT/stat545.stat.ubc.ca/raw/master/content/data/worksheet_04a/answer1.1.png)

_Sidenote:_ Putting a variable assignment in parenthesis will not only assign the value to the variable, but also print to console. Normally when you assign a variable, you do not get to see the value of the variable. This is a helpful tip so you can see what you are storing!

In [ ]:
# your code here
(answer1.1 <- lotr %>%
  pivot_wider(names_from = Race,
              values_from = Words))
#fail() # No Answer - remove if you provide an answer
print(answer1.1)
arrange_all(answer1.1)

  Film                       Gender Elf  Hobbit Man
1 The Fellowship Of The Ring Female 1229   14      0
2 The Two Towers             Female  331    0    401
3 The Return Of The King     Female  183    2    268
4 The Fellowship Of The Ring Male    971 3644   1995
5 The Two Towers             Male    513 2463   3589
6 The Return Of The King     Male    510 2673   2459

# A tibble: 6 × 5
  Film                       Gender   Elf Hobbit   Man
  <chr>                      <chr>  <dbl>  <dbl> <dbl>
1 The Fellowship Of The Ring Female  1229     14     0
2 The Two Towers             Female   331      0   401
3 The Return Of The King     Female   183      2   268
4 The Fellowship Of The Ring Male     971   3644  1995
5 The Two Towers             Male     513   2463  3589
6 The Return Of The King     Male     510   2673  2459

  Film                       Gender Elf  Hobbit Man
1 The Fellowship Of The Ring Female 1229   14      0
2 The Fellowship Of The Ring Male    971 3644   1995
3 The Return Of The King     Female  183    2    268
4 The Return Of The King     Male    510 2673   2459
5 The Two Towers             Female  331    0    401
6 The Two Towers             Male    513 2463   3589

In [ ]:
library(digest)
stopifnot("answer1.1 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer1.1)), "9e92d")), "95a92ab78891799ed8935e28884069ca"))
stopifnot("dimensions of answer1.1 are not correct"= setequal(digest(paste(toString(dim(answer1.1)), "9e92d")), "eec7c215c6806a3729c9e090a3cd6236"))
stopifnot("column names of answer1.1 are not correct"= setequal(digest(paste(toString(sort(colnames(answer1.1))), "9e92d")), "80d85a4eaa13a16488d2dd35dc637141"))
stopifnot("types of columns in answer1.1 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer1.1, class)))), "9e92d")), "a546ca6727b843103e5154cff622acf3"))
stopifnot("values in one or more numerical columns in answer1.1 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer1.1, is.numeric))) sort(round(sapply(answer1.1[, sapply(answer1.1, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "9e92d")), "f2c937cc6e9e694664eca4bc219695d8"))
stopifnot("values in one or more character columns in answer1.1 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer1.1, is.character))) sum(sapply(answer1.1[sapply(answer1.1, is.character)], function(x) length(unique(x)))) else 0), "9e92d")), "f8e563aa34c80c8d707bf46d60733195"))
stopifnot("values in one or more factor columns in answer1.1 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer1.1, is.factor))) sum(sapply(answer1.1[, sapply(answer1.1, is.factor)], function(col) length(unique(col)))) else 0), "9e92d")), "28f8d8e178a1cb61e7f48a11bd9d51eb"))

print('Success!')

[1] "Success!"

## Question 1.2

{points: 1}

Re-lengthen the wide `lotr` data (i.e. `answer1.1`) from Question 1.1 above. Store your answer in `answer1.2`.

**Hint:** the resulting data frame should appear to be the _almost the same_ as the original! (No need to reorder the columns)

```
(answer1.2 <- answer1.1 %>%
  FILL_THIS_IN(cols = c(-FILL_THIS_IN, -FILL_THIS_IN),
               names_to  = FILL_THIS_IN,
               values_to = FILL_THIS_IN))
```

Your `answer1.2` should look something like this (full tibble not always shown):

![answer1.2](https://github.com/UBC-STAT/stat545.stat.ubc.ca/raw/master/content/data/worksheet_04a/answer1.2.png)

In [ ]:
# your code here
(answer1.2 <- answer1.1 %>%
  pivot_longer(cols = c(-Film, -Gender),
               names_to  = "Race",
               values_to = "Words"))
#fail() # No Answer - remove if you proviRde an answer
print(answer1.2)

   Film                       Gender Race   Words
1  The Fellowship Of The Ring Female Elf    1229
2  The Fellowship Of The Ring Female Hobbit   14
3  The Fellowship Of The Ring Female Man       0
4  The Two Towers             Female Elf     331
5  The Two Towers             Female Hobbit    0
6  The Two Towers             Female Man     401
7  The Return Of The King     Female Elf     183
8  The Return Of The King     Female Hobbit    2
9  The Return Of The King     Female Man     268
10 The Fellowship Of The Ring Male   Elf     971
11 The Fellowship Of The Ring Male   Hobbit 3644
12 The Fellowship Of The Ring Male   Man    1995
13 The Two Towers             Male   Elf     513
14 The Two Towers             Male   Hobbit 2463
15 The Two Towers             Male   Man    3589
16 The Return Of The King     Male   Elf     510
17 The Return Of The King     Male   Hobbit 2673
18 The Return Of The King     Male   Man    2459

# A tibble: 18 × 4
   Film                       Gender Race   Words
   <chr>                      <chr>  <chr>  <dbl>
 1 The Fellowship Of The Ring Female Elf     1229
 2 The Fellowship Of The Ring Female Hobbit    14
 3 The Fellowship Of The Ring Female Man        0
 4 The Two Towers             Female Elf      331
 5 The Two Towers             Female Hobbit     0
 6 The Two Towers             Female Man      401
 7 The Return Of The King     Female Elf      183
 8 The Return Of The King     Female Hobbit     2
 9 The Return Of The King     Female Man      268
10 The Fellowship Of The Ring Male   Elf      971
11 The Fellowship Of The Ring Male   Hobbit  3644
12 The Fellowship Of The Ring Male   Man     1995
13 The Two Towers             Male   Elf      513
14 The Two Towers             Male   Hobbit  2463
15 The Two Towers             Male   Man     3589
16 The Return Of The King     Male   Elf      510
17 The Return Of The King     Male   Hobbit  2673
18 The Return Of The King     Male   Man     2459

In [ ]:
library(digest)
stopifnot("answer1.2 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer1.2)), "b71ab")), "9dc1d0bbebbd9c1f40528757bfcba10f"))
stopifnot("dimensions of answer1.2 are not correct"= setequal(digest(paste(toString(dim(answer1.2)), "b71ab")), "c31439fcbf9b2abd04d3ffdd455f4723"))
stopifnot("column names of answer1.2 are not correct"= setequal(digest(paste(toString(sort(colnames(answer1.2))), "b71ab")), "fd63a95476a46aff5a3ee5e0ddd56861"))
stopifnot("types of columns in answer1.2 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer1.2, class)))), "b71ab")), "24df6d6e8f415f5473ac9ce9dc43b08a"))
stopifnot("values in one or more numerical columns in answer1.2 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer1.2, is.numeric))) sort(round(sapply(answer1.2[, sapply(answer1.2, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "b71ab")), "fab3b74b6fc96ea879684c47c0477e40"))
stopifnot("values in one or more character columns in answer1.2 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer1.2, is.character))) sum(sapply(answer1.2[sapply(answer1.2, is.character)], function(x) length(unique(x)))) else 0), "b71ab")), "f7ed2b0b9e7d81e35c60c4e06281f02a"))
stopifnot("values in one or more factor columns in answer1.2 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer1.2, is.factor))) sum(sapply(answer1.2[, sapply(answer1.2, is.factor)], function(col) length(unique(col)))) else 0), "b71ab")), "fdb9aa6b8990446714c6c6d04d75e08d"))

print('Success!')

[1] "Success!"

## QUESTION 1.3

{points: 1}

Using the `gapminder` dataset: what's the relationship between Canada's GDP per capita and the United Kingdom's? First, produce a tidy tibble from the `gapminder` tibble to address this question. Store your tibble in a variable named `question1.3`. Do not rename any columns.

_Food for thought_: After tidying the data for this problem, we should be able to make a scatterplot of Canada's GDP per capita against the UK's. But, doing so for the original `gapminder` dataset would be difficult.

```
answer1.3 <- gapminder %>%
  filter(FILL_TIHS_IN) %>%
  pivot_FILL_THIS_IN(FILL_THIS_IN)
```

In [ ]:
# your code here
answer1.3 <- gapminder %>%
  filter(country %in% c("Canada", "United Kingdom")) %>%
  select(year, country, gdpPercap) %>%
  pivot_wider(names_from = country, values_from = gdpPercap)
#fail() # No Answer - remove if you provide an answer
print(answer1.3)

# A tibble: 12 × 3
    year Canada `United Kingdom`
   <int>  <dbl>            <dbl>
 1  1952 11367.            9980.
 2  1957 12490.           11283.
 3  1962 13462.           12477.
 4  1967 16077.           14143.
 5  1972 18971.           15895.
 6  1977 22091.           17429.
 7  1982 22899.           18232.
 8  1987 26627.           21665.
 9  1992 26343.           22705.
10  1997 28955.           26075.
11  2002 33329.           29479.
12  2007 36319.           33203.

In [ ]:
library(digest)
stopifnot("answer1.3 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer1.3)), "29081")), "38ee813e798643f54f60b967c8d8e956"))
stopifnot("dimensions of answer1.3 are not correct"= setequal(digest(paste(toString(dim(answer1.3)), "29081")), "932adc5f0953ff1d17c27a52c9680a83"))
stopifnot("column names of answer1.3 are not correct"= setequal(digest(paste(toString(sort(colnames(answer1.3))), "29081")), "a7778772e09d5ba2bddf4445e57b8c1e"))
stopifnot("types of columns in answer1.3 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer1.3, class)))), "29081")), "925174bbbcbe2f34118db1abdd66a56b"))
stopifnot("values in one or more numerical columns in answer1.3 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer1.3, is.numeric))) sort(round(sapply(answer1.3[, sapply(answer1.3, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "29081")), "739735a397fb9bb0e9a5bdbe88041fbe"))
stopifnot("values in one or more character columns in answer1.3 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer1.3, is.character))) sum(sapply(answer1.3[sapply(answer1.3, is.character)], function(x) length(unique(x)))) else 0), "29081")), "0ae16cf60d1caa10c5c23f295f0408da"))
stopifnot("values in one or more factor columns in answer1.3 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer1.3, is.factor))) sum(sapply(answer1.3[, sapply(answer1.3, is.factor)], function(col) length(unique(col)))) else 0), "29081")), "0ae16cf60d1caa10c5c23f295f0408da"))

print('Success!')

[1] "Success!"

# Part 2: Tidy Data with Multivariate Pivoting

Congratulations, you’re getting married! In addition to the wedding, you’ve decided to hold two other events: a day-of brunch and a day-before round of golf. You’ve made a guestlist of attendance so far, along with food preference for the food events (wedding and brunch).

Run the code cell below to see the first few rows of the `guest` data frame.

In [ ]:
head(guest)

  party name            meal_wedding meal_brunch attendance_wedding
1 1     Sommer Medrano  PENDING      PENDING     PENDING
2 1     Phillip Medrano vegetarian   Menu C      CONFIRMED
3 1     Blanka Medrano  chicken      Menu A      CONFIRMED
4 1     Emaan Medrano   PENDING      PENDING     PENDING
5 2     Blair Park      chicken      Menu C      CONFIRMED
6 2     Nigel Webb      NA           NA          CANCELLED
  attendance_brunch attendance_golf
1 PENDING           PENDING
2 CONFIRMED         CONFIRMED
3 CONFIRMED         CONFIRMED
4 PENDING           PENDING
5 CONFIRMED         CONFIRMED
6 CANCELLED         CANCELLED

## Question 2.1

{points: 1}


Put `meal` and `attendance` as their own columns, with the events living in a new column. Store your answer in `answer2.1`.

```
(answer2.1 <- guest %>%
  FILL_THIS_IN(cols      = c(-FILL_THIS_IN, -FILL_THIS_IN),
               names_to  = c(FILL_THIS_IN, FILL_THIS_IN),
               names_sep = FILL_THIS_IN))
```               

**Hint**: Read the possible values for `names_to` in the corresponding documentation of the function you choose!

Your `answer2.1` should look something like this (full tibble not always shown):

![answer2.1](https://github.com/UBC-STAT/stat545.stat.ubc.ca/raw/master/content/data/worksheet_04a/answer2.1.png)

In [ ]:
# your code here
(answer2.1 <- guest %>%
  pivot_longer(
    cols      = c( -party, -name),
    names_to  = c(".value", "event"),
    names_sep = "_"))

#fail() # No Answer - remove if you provide an answer
print(answer2.1)

   party name             event   meal       attendance
1  1     Sommer Medrano   wedding PENDING    PENDING
2  1     Sommer Medrano   brunch  PENDING    PENDING
3  1     Sommer Medrano   golf    NA         PENDING
4  1     Phillip Medrano  wedding vegetarian CONFIRMED
5  1     Phillip Medrano  brunch  Menu C     CONFIRMED
6  1     Phillip Medrano  golf    NA         CONFIRMED
7  1     Blanka Medrano   wedding chicken    CONFIRMED
8  1     Blanka Medrano   brunch  Menu A     CONFIRMED
9  1     Blanka Medrano   golf    NA         CONFIRMED
10 1     Emaan Medrano    wedding PENDING    PENDING
11 1     Emaan Medrano    brunch  PENDING    PENDING
12 1     Emaan Medrano    golf    NA         PENDING
13 2     Blair Park       wedding chicken    CONFIRMED
14 2     Blair Park       brunch  Menu C     CONFIRMED
15 2     Blair Park       golf    NA         CONFIRMED
16 2     Nigel Webb       wedding NA         CANCELLED
17 2     Nigel Webb       brunch  NA         CANCELLED
18 2     Nigel Webb       golf    NA         CANCELLED
19 3     Sinead English   wedding PENDING    PENDING
20 3     Sinead English   brunch  PENDING    PENDING
21 3     Sinead English   golf    NA         PENDING
22 4     Ayra Marks       wedding vegetarian PENDING
23 4     Ayra Marks       brunch  Menu B     PENDING
24 4     Ayra Marks       golf    NA         PENDING
25 5     Atlanta Connolly wedding PENDING    PENDING
26 5     Atlanta Connolly brunch  PENDING    PENDING
27 5     Atlanta Connolly golf    NA         PENDING
28 5     Denzel Connolly  wedding fish       CONFIRMED
29 5     Denzel Connolly  brunch  Menu B     CONFIRMED
30 5     Denzel Connolly  golf    NA         CONFIRMED
⋮  ⋮     ⋮                ⋮       ⋮          ⋮
61 12    Martin Caldwell  wedding PENDING    PENDING
62 12    Martin Caldwell  brunch  PENDING    PENDING
63 12    Martin Caldwell  golf    NA         PENDING
64 12    Violet Caldwell  wedding PENDING    PENDING
65 12    Violet Caldwell  brunch  PENDING    PENDING
66 12    Violet Caldwell  golf    NA         PENDING
67 12    Nazifa Caldwell  wedding chicken    PENDING
68 12    Nazifa Caldwell  brunch  PENDING    PENDING
69 12    Nazifa Caldwell  golf    NA         PENDING
70 12    Eric Caldwell    wedding chicken    CONFIRMED
71 12    Eric Caldwell    brunch  Menu B     CONFIRMED
72 12    Eric Caldwell    golf    NA         CONFIRMED
73 13    Rosanna Bird     wedding vegetarian CONFIRMED
74 13    Rosanna Bird     brunch  Menu C     CONFIRMED
75 13    Rosanna Bird     golf    NA         CONFIRMED
76 13    Kurtis Frost     wedding PENDING    PENDING
77 13    Kurtis Frost     brunch  PENDING    PENDING
78 13    Kurtis Frost     golf    NA         PENDING
79 14    Huma Stokes      wedding NA         CANCELLED
80 14    Huma Stokes      brunch  NA         CANCELLED
81 14    Huma Stokes      golf    NA         CANCELLED
82 14    Samuel Rutledge  wedding chicken    CONFIRMED
83 14    Samuel Rutledge  brunch  Menu C     CONFIRMED
84 14    Samuel Rutledge  golf    NA         CONFIRMED
85 15    Eddison Collier  wedding PENDING    PENDING
86 15    Eddison Collier  brunch  PENDING    PENDING
87 15    Eddison Collier  golf    NA         PENDING
88 15    Stewart Nicholls wedding chicken    CONFIRMED
89 15    Stewart Nicholls brunch  Menu B     CONFIRMED
90 15    Stewart Nicholls golf    NA         CONFIRMED

# A tibble: 90 × 5
   party name            event   meal       attendance
   <dbl> <chr>           <chr>   <chr>      <chr>
 1     1 Sommer Medrano  wedding PENDING    PENDING
 2     1 Sommer Medrano  brunch  PENDING    PENDING
 3     1 Sommer Medrano  golf    NA         PENDING
 4     1 Phillip Medrano wedding vegetarian CONFIRMED
 5     1 Phillip Medrano brunch  Menu C     CONFIRMED
 6     1 Phillip Medrano golf    NA         CONFIRMED
 7     1 Blanka Medrano  wedding chicken    CONFIRMED
 8     1 Blanka Medrano  brunch  Menu A     CONFIRMED
 9     1 Blanka Medrano  golf    NA         CONFIRMED
10     1 Emaan Medrano   wedding PENDING    PENDING
# ℹ 80 more rows

In [ ]:
library(digest)
stopifnot("answer2.1 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer2.1)), "3a8ce")), "1f64ba0c5bd177bd75e4334c4b0048a6"))
stopifnot("dimensions of answer2.1 are not correct"= setequal(digest(paste(toString(dim(answer2.1)), "3a8ce")), "f5a1bafb9f30b3862488edd4c56f16cb"))
stopifnot("column names of answer2.1 are not correct"= setequal(digest(paste(toString(sort(colnames(answer2.1))), "3a8ce")), "7a5071653e3654dca6ae16d29fe4e37b"))
stopifnot("types of columns in answer2.1 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer2.1, class)))), "3a8ce")), "f2459aaf4142fba146c520dbf43803f4"))
stopifnot("values in one or more numerical columns in answer2.1 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer2.1, is.numeric))) sort(round(sapply(answer2.1[, sapply(answer2.1, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "3a8ce")), "5bca589a15b3716ad44bd4a5226a6460"))
stopifnot("values in one or more character columns in answer2.1 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer2.1, is.character))) sum(sapply(answer2.1[sapply(answer2.1, is.character)], function(x) length(unique(x)))) else 0), "3a8ce")), "57e246478ed95aedd4910da19179c77e"))
stopifnot("values in one or more factor columns in answer2.1 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer2.1, is.factor))) sum(sapply(answer2.1[, sapply(answer2.1, is.factor)], function(col) length(unique(col)))) else 0), "3a8ce")), "b8917890f47874def544610ded1c2bcb"))

print('Success!')

[1] "Success!"

## Question 2.2

{points: 1}


Use `tidyr::separate()` to split the `name` in `answer2.1` into two columns: `first_name` and `last_name`. Store your answer in `answer2.2`.

```
(answer2.2 <- answer2.1 %>%
  FILL_THIS_IN(FILL_THIS_IN, into = c(FILL_THIS_IN, FILL_THIS_IN), sep=FILL_THIS_IN))
```  

Your `answer2.2` should look something like this (full tibble not always shown):

![answer2.2](https://github.com/UBC-STAT/stat545.stat.ubc.ca/raw/master/content/data/worksheet_04a/answer2.2.png)

In [ ]:
# your code here
(answer2.2 <- answer2.1 %>%
  tidyr::separate(name, into = c("first_name", "last_name"), sep = " "))
#fail() # No Answer - remove if you provide an answer
print(answer2.2)

   party first_name last_name event   meal       attendance
1  1     Sommer     Medrano   wedding PENDING    PENDING
2  1     Sommer     Medrano   brunch  PENDING    PENDING
3  1     Sommer     Medrano   golf    NA         PENDING
4  1     Phillip    Medrano   wedding vegetarian CONFIRMED
5  1     Phillip    Medrano   brunch  Menu C     CONFIRMED
6  1     Phillip    Medrano   golf    NA         CONFIRMED
7  1     Blanka     Medrano   wedding chicken    CONFIRMED
8  1     Blanka     Medrano   brunch  Menu A     CONFIRMED
9  1     Blanka     Medrano   golf    NA         CONFIRMED
10 1     Emaan      Medrano   wedding PENDING    PENDING
11 1     Emaan      Medrano   brunch  PENDING    PENDING
12 1     Emaan      Medrano   golf    NA         PENDING
13 2     Blair      Park      wedding chicken    CONFIRMED
14 2     Blair      Park      brunch  Menu C     CONFIRMED
15 2     Blair      Park      golf    NA         CONFIRMED
16 2     Nigel      Webb      wedding NA         CANCELLED
17 2     Nigel      Webb      brunch  NA         CANCELLED
18 2     Nigel      Webb      golf    NA         CANCELLED
19 3     Sinead     English   wedding PENDING    PENDING
20 3     Sinead     English   brunch  PENDING    PENDING
21 3     Sinead     English   golf    NA         PENDING
22 4     Ayra       Marks     wedding vegetarian PENDING
23 4     Ayra       Marks     brunch  Menu B     PENDING
24 4     Ayra       Marks     golf    NA         PENDING
25 5     Atlanta    Connolly  wedding PENDING    PENDING
26 5     Atlanta    Connolly  brunch  PENDING    PENDING
27 5     Atlanta    Connolly  golf    NA         PENDING
28 5     Denzel     Connolly  wedding fish       CONFIRMED
29 5     Denzel     Connolly  brunch  Menu B     CONFIRMED
30 5     Denzel     Connolly  golf    NA         CONFIRMED
⋮  ⋮     ⋮          ⋮         ⋮       ⋮          ⋮
61 12    Martin     Caldwell  wedding PENDING    PENDING
62 12    Martin     Caldwell  brunch  PENDING    PENDING
63 12    Martin     Caldwell  golf    NA         PENDING
64 12    Violet     Caldwell  wedding PENDING    PENDING
65 12    Violet     Caldwell  brunch  PENDING    PENDING
66 12    Violet     Caldwell  golf    NA         PENDING
67 12    Nazifa     Caldwell  wedding chicken    PENDING
68 12    Nazifa     Caldwell  brunch  PENDING    PENDING
69 12    Nazifa     Caldwell  golf    NA         PENDING
70 12    Eric       Caldwell  wedding chicken    CONFIRMED
71 12    Eric       Caldwell  brunch  Menu B     CONFIRMED
72 12    Eric       Caldwell  golf    NA         CONFIRMED
73 13    Rosanna    Bird      wedding vegetarian CONFIRMED
74 13    Rosanna    Bird      brunch  Menu C     CONFIRMED
75 13    Rosanna    Bird      golf    NA         CONFIRMED
76 13    Kurtis     Frost     wedding PENDING    PENDING
77 13    Kurtis     Frost     brunch  PENDING    PENDING
78 13    Kurtis     Frost     golf    NA         PENDING
79 14    Huma       Stokes    wedding NA         CANCELLED
80 14    Huma       Stokes    brunch  NA         CANCELLED
81 14    Huma       Stokes    golf    NA         CANCELLED
82 14    Samuel     Rutledge  wedding chicken    CONFIRMED
83 14    Samuel     Rutledge  brunch  Menu C     CONFIRMED
84 14    Samuel     Rutledge  golf    NA         CONFIRMED
85 15    Eddison    Collier   wedding PENDING    PENDING
86 15    Eddison    Collier   brunch  PENDING    PENDING
87 15    Eddison    Collier   golf    NA         PENDING
88 15    Stewart    Nicholls  wedding chicken    CONFIRMED
89 15    Stewart    Nicholls  brunch  Menu B     CONFIRMED
90 15    Stewart    Nicholls  golf    NA         CONFIRMED

# A tibble: 90 × 6
   party first_name last_name event   meal       attendance
   <dbl> <chr>      <chr>     <chr>   <chr>      <chr>
 1     1 Sommer     Medrano   wedding PENDING    PENDING
 2     1 Sommer     Medrano   brunch  PENDING    PENDING
 3     1 Sommer     Medrano   golf    NA         PENDING
 4     1 Phillip    Medrano   wedding vegetarian CONFIRMED
 5     1 Phillip    Medrano   brunch  Menu C     CONFIRMED
 6     1 Phillip    Medrano   golf    NA         CONFIRMED
 7     1 Blanka     Medrano   wedding chicken    CONFIRMED
 8     1 Blanka     Medrano   brunch  Menu A     CONFIRMED
 9     1 Blanka     Medrano   golf    NA         CONFIRMED
10     1 Emaan      Medrano   wedding PENDING    PENDING
# ℹ 80 more rows

In [ ]:
library(digest)
stopifnot("answer2.2 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer2.2)), "a128f")), "1c23612cde1a8ac7ed65845e10ce7305"))
stopifnot("dimensions of answer2.2 are not correct"= setequal(digest(paste(toString(dim(answer2.2)), "a128f")), "c438f9d2cd74d0613456bdde8b354310"))
stopifnot("column names of answer2.2 are not correct"= setequal(digest(paste(toString(sort(colnames(answer2.2))), "a128f")), "becfc91c1ba34a32a6136054519b99c9"))
stopifnot("types of columns in answer2.2 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer2.2, class)))), "a128f")), "ac5634a037ebc7aa2c3f44872984b838"))
stopifnot("values in one or more numerical columns in answer2.2 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer2.2, is.numeric))) sort(round(sapply(answer2.2[, sapply(answer2.2, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "a128f")), "4dd77c63080dccc91b67bb227deed629"))
stopifnot("values in one or more character columns in answer2.2 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer2.2, is.character))) sum(sapply(answer2.2[sapply(answer2.2, is.character)], function(x) length(unique(x)))) else 0), "a128f")), "b680e6c4f781afbfd3e34c648d8539d9"))
stopifnot("values in one or more factor columns in answer2.2 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer2.2, is.factor))) sum(sapply(answer2.2[, sapply(answer2.2, is.factor)], function(col) length(unique(col)))) else 0), "a128f")), "960544919159fda96112b97f29db170b"))

print('Success!')

[1] "Success!"

### Question 2.3

{points: 1}


Re-unite `first_name` and `last_name` in `answer2.2` back into `name` using `tidyr::unite()`. Store your answer in `answer2.3`.

```
(answer2.3 <- answer2.2 %>%
    FILL_THIS_IN(col = FILL_THIS_IN, c(FILL_THIS_IN, FILL_THIS_IN), sep = FILL_THIS_IN))
```    

Your `answer2.3` should look something like this (full tibble not always shown):

![answer2.3](https://github.com/UBC-STAT/stat545.stat.ubc.ca/raw/master/content/data/worksheet_04a/answer2.3.png)

In [ ]:
# your code here
(answer2.3 <- answer2.2 %>%
    tidyr::unite(col = "name", c(first_name, last_name), sep = " "))

#fail() # No Answer - remove if you provide an answer
print(answer2.3)

   party name             event   meal       attendance
1  1     Sommer Medrano   wedding PENDING    PENDING
2  1     Sommer Medrano   brunch  PENDING    PENDING
3  1     Sommer Medrano   golf    NA         PENDING
4  1     Phillip Medrano  wedding vegetarian CONFIRMED
5  1     Phillip Medrano  brunch  Menu C     CONFIRMED
6  1     Phillip Medrano  golf    NA         CONFIRMED
7  1     Blanka Medrano   wedding chicken    CONFIRMED
8  1     Blanka Medrano   brunch  Menu A     CONFIRMED
9  1     Blanka Medrano   golf    NA         CONFIRMED
10 1     Emaan Medrano    wedding PENDING    PENDING
11 1     Emaan Medrano    brunch  PENDING    PENDING
12 1     Emaan Medrano    golf    NA         PENDING
13 2     Blair Park       wedding chicken    CONFIRMED
14 2     Blair Park       brunch  Menu C     CONFIRMED
15 2     Blair Park       golf    NA         CONFIRMED
16 2     Nigel Webb       wedding NA         CANCELLED
17 2     Nigel Webb       brunch  NA         CANCELLED
18 2     Nigel Webb       golf    NA         CANCELLED
19 3     Sinead English   wedding PENDING    PENDING
20 3     Sinead English   brunch  PENDING    PENDING
21 3     Sinead English   golf    NA         PENDING
22 4     Ayra Marks       wedding vegetarian PENDING
23 4     Ayra Marks       brunch  Menu B     PENDING
24 4     Ayra Marks       golf    NA         PENDING
25 5     Atlanta Connolly wedding PENDING    PENDING
26 5     Atlanta Connolly brunch  PENDING    PENDING
27 5     Atlanta Connolly golf    NA         PENDING
28 5     Denzel Connolly  wedding fish       CONFIRMED
29 5     Denzel Connolly  brunch  Menu B     CONFIRMED
30 5     Denzel Connolly  golf    NA         CONFIRMED
⋮  ⋮     ⋮                ⋮       ⋮          ⋮
61 12    Martin Caldwell  wedding PENDING    PENDING
62 12    Martin Caldwell  brunch  PENDING    PENDING
63 12    Martin Caldwell  golf    NA         PENDING
64 12    Violet Caldwell  wedding PENDING    PENDING
65 12    Violet Caldwell  brunch  PENDING    PENDING
66 12    Violet Caldwell  golf    NA         PENDING
67 12    Nazifa Caldwell  wedding chicken    PENDING
68 12    Nazifa Caldwell  brunch  PENDING    PENDING
69 12    Nazifa Caldwell  golf    NA         PENDING
70 12    Eric Caldwell    wedding chicken    CONFIRMED
71 12    Eric Caldwell    brunch  Menu B     CONFIRMED
72 12    Eric Caldwell    golf    NA         CONFIRMED
73 13    Rosanna Bird     wedding vegetarian CONFIRMED
74 13    Rosanna Bird     brunch  Menu C     CONFIRMED
75 13    Rosanna Bird     golf    NA         CONFIRMED
76 13    Kurtis Frost     wedding PENDING    PENDING
77 13    Kurtis Frost     brunch  PENDING    PENDING
78 13    Kurtis Frost     golf    NA         PENDING
79 14    Huma Stokes      wedding NA         CANCELLED
80 14    Huma Stokes      brunch  NA         CANCELLED
81 14    Huma Stokes      golf    NA         CANCELLED
82 14    Samuel Rutledge  wedding chicken    CONFIRMED
83 14    Samuel Rutledge  brunch  Menu C     CONFIRMED
84 14    Samuel Rutledge  golf    NA         CONFIRMED
85 15    Eddison Collier  wedding PENDING    PENDING
86 15    Eddison Collier  brunch  PENDING    PENDING
87 15    Eddison Collier  golf    NA         PENDING
88 15    Stewart Nicholls wedding chicken    CONFIRMED
89 15    Stewart Nicholls brunch  Menu B     CONFIRMED
90 15    Stewart Nicholls golf    NA         CONFIRMED

# A tibble: 90 × 5
   party name            event   meal       attendance
   <dbl> <chr>           <chr>   <chr>      <chr>
 1     1 Sommer Medrano  wedding PENDING    PENDING
 2     1 Sommer Medrano  brunch  PENDING    PENDING
 3     1 Sommer Medrano  golf    NA         PENDING
 4     1 Phillip Medrano wedding vegetarian CONFIRMED
 5     1 Phillip Medrano brunch  Menu C     CONFIRMED
 6     1 Phillip Medrano golf    NA         CONFIRMED
 7     1 Blanka Medrano  wedding chicken    CONFIRMED
 8     1 Blanka Medrano  brunch  Menu A     CONFIRMED
 9     1 Blanka Medrano  golf    NA         CONFIRMED
10     1 Emaan Medrano   wedding PENDING    PENDING
# ℹ 80 more rows

In [ ]:
library(digest)
stopifnot("answer2.3 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer2.3)), "bb3e2")), "f212ca4503d0b16a9d4dd7c132e18e22"))
stopifnot("dimensions of answer2.3 are not correct"= setequal(digest(paste(toString(dim(answer2.3)), "bb3e2")), "66f45f7b5c80647426397a22a77584c5"))
stopifnot("column names of answer2.3 are not correct"= setequal(digest(paste(toString(sort(colnames(answer2.3))), "bb3e2")), "88d3c70223136d104911c699d66a2aaf"))
stopifnot("types of columns in answer2.3 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer2.3, class)))), "bb3e2")), "efe8dabc512db0814e0c03f77aebcb21"))
stopifnot("values in one or more numerical columns in answer2.3 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer2.3, is.numeric))) sort(round(sapply(answer2.3[, sapply(answer2.3, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "bb3e2")), "f637a61726c9b440d586d0c1245354dc"))
stopifnot("values in one or more character columns in answer2.3 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer2.3, is.character))) sum(sapply(answer2.3[sapply(answer2.3, is.character)], function(x) length(unique(x)))) else 0), "bb3e2")), "9eb74ece9591b6cbb5c7ab8f356a49b0"))
stopifnot("values in one or more factor columns in answer2.3 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer2.3, is.factor))) sum(sapply(answer2.3[, sapply(answer2.3, is.factor)], function(col) length(unique(col)))) else 0), "bb3e2")), "4a8228a6a92c4e1891afeaa42ef87b76"))

print('Success!')

[1] "Success!"

## Question 2.4

{points: 1}


Which parties still have a "PENDING" attendance status for all of its members and all of the events? Your answer should be a vector of party ID's (not a tibble). Store your answer in `answer2.4`.

**Hint**: use `answer2.1` as a starting point. Use `pull()` to access a column as a vector.

```
answer2.4 <- answer2.1 %>%
    group_by(FILL_THIS_IN) %>%
    summarize(all_pending = all(FILL_THIS_IN == "PENDING")) %>%
    filter(all_pending) %>%
    FILL_THIS_IN(party)
```

In [ ]:
# your code here
answer2.4 <- answer2.1 %>%
    group_by(party) %>%
    summarize(all_pending = all(attendance == "PENDING")) %>%
    filter(all_pending) %>%
    pull(party)

#fail() # No Answer - remove if you provide an answer
print(answer2.4)

[1]  3  4  8 10

In [ ]:
library(digest)
stopifnot("type of answer2.4 is not numeric"= setequal(digest(paste(toString(class(answer2.4)), "91c09")), "f6969838f654260cfeb748149c23f32f"))
stopifnot("value of answer2.4 is not correct (rounded to 2 decimal places)"= setequal(digest(paste(toString(round(answer2.4, 2)), "91c09")), "234598db307ec7b6639ba4d2fae16afb"))
stopifnot("length of answer2.4 is not correct"= setequal(digest(paste(toString(length(answer2.4)), "91c09")), "1cc7eb7655a58238873dab3e2a46b27c"))
stopifnot("values of answer2.4 are not correct"= setequal(digest(paste(toString(sort(round(answer2.4, 2))), "91c09")), "234598db307ec7b6639ba4d2fae16afb"))

print('Success!')

[1] "Success!"

## Question 2.5

{points: 1}


Which parties still have a "PENDING" attendance status for all of its members, for the wedding event only? Your answer should be a vector of party ID's (not a tibble). Store your answer in `answer2.5`.

**Hint**: Use `pull()` to access a column as a vector.

```
answer2.5 <- guest %>%
    group_by(FILL_THIS_IN) %>%
    summarize(pending_wedding = all(FILL_THIS_IN == "PENDING")) %>%
    filter(FILL_THIS_IN) %>%
    FILL_THIS_IN(party)
```

In [ ]:
# your code here
answer2.5 <- guest %>%
  group_by(party) %>%
  summarize(pending_wedding = all(attendance_wedding == "PENDING")) %>%
  filter(pending_wedding) %>%
  pull(party)


#fail() # No Answer - remove if you provide an answer
print(answer2.5)

[1]  3  4  8 10

In [ ]:
library(digest)
stopifnot("type of answer2.5 is not numeric"= setequal(digest(paste(toString(class(answer2.5)), "ae0b4")), "9ca57db34bd3122c62595fe31d524157"))
stopifnot("value of answer2.5 is not correct (rounded to 2 decimal places)"= setequal(digest(paste(toString(round(answer2.5, 2)), "ae0b4")), "64187cdc82b6ee9e6127a724f8d4a829"))
stopifnot("length of answer2.5 is not correct"= setequal(digest(paste(toString(length(answer2.5)), "ae0b4")), "14529dca5d5e585903d2e99e92d47132"))
stopifnot("values of answer2.5 are not correct"= setequal(digest(paste(toString(sort(round(answer2.5, 2))), "ae0b4")), "64187cdc82b6ee9e6127a724f8d4a829"))

print('Success!')

[1] "Success!"

# Part 3: The Model-Fitting Paradigm in R

**Overview**

1. Fit a linear regression model to life expectancy ("Y") from year ("X") by filling in the formula. Notice what appears as the output.
2. Use the `unclass` function to uncover the object's true nature: a list.

## Question 3.1

{points: 1}


First, create a subset of the `gapminder` dataset containing only the country of `France`. Store your answer in `answer3.1`.

```
(answer3.1 <- gapminder %>%
   FILL_THIS_IN(FILL_THIS_IN == FILL_THIS_IN))
```

In [ ]:
# your code here
(answer3.1 <- gapminder %>%
  filter(country == "France"))

#fail() # No Answer - remove if you provide an answer
print(answer3.1)

   country continent year lifeExp pop      gdpPercap
1  France  Europe    1952 67.410  42459667  7029.809
2  France  Europe    1957 68.930  44310863  8662.835
3  France  Europe    1962 70.510  47124000 10560.486
4  France  Europe    1967 71.550  49569000 12999.918
5  France  Europe    1972 72.380  51732000 16107.192
6  France  Europe    1977 73.830  53165019 18292.635
7  France  Europe    1982 74.890  54433565 20293.897
8  France  Europe    1987 76.340  55630100 22066.442
9  France  Europe    1992 77.460  57374179 24703.796
10 France  Europe    1997 78.640  58623428 25889.785
11 France  Europe    2002 79.590  59925035 28926.032
12 France  Europe    2007 80.657  61083916 30470.017

# A tibble: 12 × 6
   country continent  year lifeExp      pop gdpPercap
   <fct>   <fct>     <int>   <dbl>    <int>     <dbl>
 1 France  Europe     1952    67.4 42459667     7030.
 2 France  Europe     1957    68.9 44310863     8663.
 3 France  Europe     1962    70.5 47124000    10560.
 4 France  Europe     1967    71.6 49569000    13000.
 5 France  Europe     1972    72.4 51732000    16107.
 6 France  Europe     1977    73.8 53165019    18293.
 7 France  Europe     1982    74.9 54433565    20294.
 8 France  Europe     1987    76.3 55630100    22066.
 9 France  Europe     1992    77.5 57374179    24704.
10 France  Europe     1997    78.6 58623428    25890.
11 France  Europe     2002    79.6 59925035    28926.
12 France  Europe     2007    80.7 61083916    30470.

In [ ]:
library(digest)
stopifnot("answer3.1 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer3.1)), "73c86")), "1a7a80552c70c5413ce16d7a95771cb4"))
stopifnot("dimensions of answer3.1 are not correct"= setequal(digest(paste(toString(dim(answer3.1)), "73c86")), "256fefe71378fb3b3cf1607a6d720f6c"))
stopifnot("column names of answer3.1 are not correct"= setequal(digest(paste(toString(sort(colnames(answer3.1))), "73c86")), "e6d96096b69e432c1465e367b4f8a54c"))
stopifnot("types of columns in answer3.1 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer3.1, class)))), "73c86")), "6a1efb37001ad6b6c1779519e4bdec0d"))
stopifnot("values in one or more numerical columns in answer3.1 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer3.1, is.numeric))) sort(round(sapply(answer3.1[, sapply(answer3.1, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "73c86")), "787390f47059cfd099bb570536012068"))
stopifnot("values in one or more character columns in answer3.1 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer3.1, is.character))) sum(sapply(answer3.1[sapply(answer3.1, is.character)], function(x) length(unique(x)))) else 0), "73c86")), "c93a264848e9b95315e088afa7947773"))
stopifnot("values in one or more factor columns in answer3.1 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer3.1, is.factor))) sum(sapply(answer3.1[, sapply(answer3.1, is.factor)], function(col) length(unique(col)))) else 0), "73c86")), "b16487f393b926f87d88a96f84b6cba0"))

print('Success!')

[1] "Success!"

### Question 3.2

{points: 1}

> Fit a linear regression model to life expectancy ("Y") from year ("X") by filling in the formula

Now, using the `lm()` function we will create the linear model. Store your answer in `answer3.2`.

```
(answer3.2 <- FILL_THIS_IN(FILL_THIS_IN ~ FILL_THIS_IN, answer3.1)
```

In [ ]:
# your code here
(answer3.2 <- lm(lifeExp ~ year, answer3.1))
#fail() # No Answer - remove if you provide an answer
print(answer3.2)

Call:
lm(formula = lifeExp ~ year, data = answer3.1)

Coefficients:
(Intercept)         year
  -397.7646       0.2385

Call:
lm(formula = lifeExp ~ year, data = answer3.1)

Coefficients:
(Intercept)         year
  -397.7646       0.2385

In [ ]:
library(digest)
stopifnot("type of answer3.2 is not correct"= setequal(digest(paste(toString(class(answer3.2)), "a700b")), "e5e830b08c568b54673f81df8cd1243f"))
stopifnot("value of answer3.2 is not correct"= setequal(digest(paste(toString(answer3.2), "a700b")), "74853cfe95d6efd8807dc7eb7c463cf0"))

print('Success!')

ERROR: Error: value of answer3.2 is not correct

## Question 3.3

{points: 1}


We are interested in the modeling results around the modeling period which starts at year 1952. To get a meaniningful "interpretable" intercept we can use the `I()` function.

Use `I()` to make the intercept so that the "beginning" of our dataset (1952) corresponds to '0' in the model. This makes all the years in the data set relative to the first year, 1952.

Store your answer in `answer3.3`.

```
answer3.3 <- FILL_THIS_IN(FILL_THIS_IN ~ I(FILL_THIS_IN-1952), answer3.1)
```

In [ ]:
# your code here
answer3.3 <- lm(lifeExp ~ I(year - 1952), answer3.1)
#fail() # No Answer - remove if you provide an answer
print(answer3.3)

Call:
lm(formula = lifeExp ~ I(year - 1952), data = answer3.1)

Coefficients:
   (Intercept)  I(year - 1952)
       67.7901          0.2385

In [ ]:
library(digest)
stopifnot("type of answer3.3 is not correct"= setequal(digest(paste(toString(class(answer3.3)), "cf936")), "7f89e7bbef07fec02f37154e77dc27c1"))
stopifnot("value of answer3.3 is not correct"= setequal(digest(paste(toString(answer3.3), "cf936")), "92c251248d09e45506e92e61113f00e9"))

print('Success!')

ERROR: Error: value of answer3.3 is not correct

## Question 3.4

{points: 1}


Use the `unclass()` function to take a look at how the `lm()` object actually looks like. Store your answer in `answer3.4`.

```
answer3.4 <- FILL_THIS_IN(answer3.3)
```

In [ ]:
# your code here
answer3.4 <- lm(answer3.3)
#fail() # No Answer - remove if you provide an answer
print(answer3.4)

Call:
lm(formula = answer3.3)

Coefficients:
   (Intercept)  I(year - 1952)
       67.7901          0.2385

In [ ]:
library(digest)
stopifnot("type of answer3.4 is not list"= setequal(digest(paste(toString(class(answer3.4)), "9ffbe")), "4695bf135719c20753cd1de743aa8d4f"))
stopifnot("length of answer3.4 is not correct"= setequal(digest(paste(toString(length(answer3.4)), "9ffbe")), "198d9ee462cedee3ea886f8eed3e972f"))
stopifnot("values of answer3.4 names are not correct"= setequal(digest(paste(toString(sort(c(names(answer3.4)))), "9ffbe")), "f621dadbe91a5bdb8fc5c8d926ccdfdc"))
stopifnot("order of elements of answer3.4 is not correct"= setequal(digest(paste(toString(answer3.4), "9ffbe")), "227b8fea20a31bb4026ebd6f971a17c1"))

print('Success!')

ERROR: Error: type of answer3.4 is not list

# Part 4: Producing Tidy Tibbles with broom

## Question 4.1

{points: 1}


Apply `broom::tidy()` to `answer3.3`. Store your answer in `answer4.1`.

```
answer4.1 <- FILL_THIS_IN(answer3.3)
```

In [ ]:
# your code here
answer4.1 <- broom::tidy(answer3.3)
#fail() # No Answer - remove if you provide an answer
print(answer4.1)

# A tibble: 2 × 5
  term           estimate std.error statistic  p.value
  <chr>             <dbl>     <dbl>     <dbl>    <dbl>
1 (Intercept)      67.8     0.119       567.  7.12e-24
2 I(year - 1952)    0.239   0.00368      64.8 1.86e-14

In [ ]:
library(digest)
stopifnot("answer4.1 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer4.1)), "c3da8")), "6ad85b4c69265821c01e11959d9d29e1"))
stopifnot("dimensions of answer4.1 are not correct"= setequal(digest(paste(toString(dim(answer4.1)), "c3da8")), "86ccb20b1569c32d06eb3aead605f8db"))
stopifnot("column names of answer4.1 are not correct"= setequal(digest(paste(toString(sort(colnames(answer4.1))), "c3da8")), "5bd2029d201b32ced4bb2dbae8e9e3ec"))
stopifnot("types of columns in answer4.1 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer4.1, class)))), "c3da8")), "4598a308fc62b85e3db63f1e1db8f0ed"))
stopifnot("values in one or more numerical columns in answer4.1 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer4.1, is.numeric))) sort(round(sapply(answer4.1[, sapply(answer4.1, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "c3da8")), "583f7970e3b309022630bf4cd0cc1760"))
stopifnot("values in one or more character columns in answer4.1 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer4.1, is.character))) sum(sapply(answer4.1[sapply(answer4.1, is.character)], function(x) length(unique(x)))) else 0), "c3da8")), "87e69fb049e13dd44cc2cab54d0a30b3"))
stopifnot("values in one or more factor columns in answer4.1 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer4.1, is.factor))) sum(sapply(answer4.1[, sapply(answer4.1, is.factor)], function(col) length(unique(col)))) else 0), "c3da8")), "c5bda529bc96074500f754acdfa61f76"))

print('Success!')

[1] "Success!"

## Question 4.2

{points: 1}


Apply `broom::augment()` to `answer3.3`. Store your answer in `answer4.2`.

```
answer4.2 <- FILL_THIS_IN(answer3.3)
```

In [ ]:
# your code here
answer4.2 <- broom::augment(answer3.3)

#fail() # No Answer - remove if you provide an answer
print(answer4.2)

# A tibble: 12 × 8
   lifeExp `I(year - 1952)` .fitted  .resid   .hat .sigma .cooksd .std.resid
     <dbl>         <I<dbl>>   <dbl>   <dbl>  <dbl>  <dbl>   <dbl>      <dbl>
 1    67.4                0    67.8 -0.380  0.295   0.176 0.885       -2.06
 2    68.9                5    69.0 -0.0526 0.225   0.231 0.0107      -0.272
 3    70.5               10    70.2  0.335  0.169   0.197 0.283        1.67
 4    71.6               15    71.4  0.182  0.127   0.223 0.0572       0.887
 5    72.4               20    72.6 -0.180  0.0991  0.223 0.0409      -0.863
 6    73.8               25    73.8  0.0773 0.0851  0.230 0.00628      0.367
 7    74.9               30    74.9 -0.0552 0.0851  0.231 0.00319     -0.262
 8    76.3               35    76.1  0.202  0.0991  0.221 0.0516       0.969
 9    77.5               40    77.3  0.130  0.127   0.227 0.0290       0.631
10    78.6               45    78.5  0.117  0.169   0.228 0.0348       0.585
11    79.6               50    79.7 -0.125  0.225   0.227 0.0606      -0.646
12    80.7               55    80.9 -0.251  0.295   0.210 0.385       -1.36

In [ ]:
library(digest)
stopifnot("answer4.2 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer4.2)), "9c13")), "d827fc316b1fa0e17244350c8c9c11c3"))
stopifnot("dimensions of answer4.2 are not correct"= setequal(digest(paste(toString(dim(answer4.2)), "9c13")), "f1d8c92dda3683ea252c0fcb252af9cd"))
stopifnot("column names of answer4.2 are not correct"= setequal(digest(paste(toString(sort(colnames(answer4.2))), "9c13")), "2e52d22800ef46aed45d04f38175e53a"))
stopifnot("types of columns in answer4.2 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer4.2, class)))), "9c13")), "c6243d63bed9b658234f38ce7527b4dd"))
stopifnot("values in one or more numerical columns in answer4.2 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer4.2, is.numeric))) sort(round(sapply(answer4.2[, sapply(answer4.2, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "9c13")), "5894b1655cd523e1492e61bcf1f5358e"))
stopifnot("values in one or more character columns in answer4.2 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer4.2, is.character))) sum(sapply(answer4.2[sapply(answer4.2, is.character)], function(x) length(unique(x)))) else 0), "9c13")), "28cf20c34f048b81c32dfb7ae5e37efb"))
stopifnot("values in one or more factor columns in answer4.2 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer4.2, is.factor))) sum(sapply(answer4.2[, sapply(answer4.2, is.factor)], function(col) length(unique(col)))) else 0), "9c13")), "28cf20c34f048b81c32dfb7ae5e37efb"))

print('Success!')

[1] "Success!"

## Question 4.3

{points: 1}

Apply `broom::glance()` to `answer3.3`. Store your answer in `answer4.3`.

```
answer4.3 <- FILL_THIS_IN(answer3.3)
```

In [ ]:
# your code here
answer4.3 <- broom::glance(answer3.3)

#fail() # No Answer - remove if you provide an answer
print(answer4.3)

# A tibble: 1 × 12
  r.squared adj.r.squared sigma statistic  p.value    df logLik   AIC   BIC
      <dbl>         <dbl> <dbl>     <dbl>    <dbl> <dbl>  <dbl> <dbl> <dbl>
1     0.998         0.997 0.220     4200. 1.86e-14     1   2.23  1.53  2.99
# ℹ 3 more variables: deviance <dbl>, df.residual <int>, nobs <int>

In [ ]:
library(digest)
stopifnot("answer4.3 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer4.3)), "fda6")), "83224130dc0f690811f1da6b978c2eb4"))
stopifnot("dimensions of answer4.3 are not correct"= setequal(digest(paste(toString(dim(answer4.3)), "fda6")), "6602aff7af610530570265a61d672acc"))
stopifnot("column names of answer4.3 are not correct"= setequal(digest(paste(toString(sort(colnames(answer4.3))), "fda6")), "ef58a8ed3e188007c15724881600d695"))
stopifnot("types of columns in answer4.3 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer4.3, class)))), "fda6")), "df0f174f2f886b564c41aaff4170c15e"))
stopifnot("values in one or more numerical columns in answer4.3 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer4.3, is.numeric))) sort(round(sapply(answer4.3[, sapply(answer4.3, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "fda6")), "77caa50b6f77eb036abe2cf499c915cd"))
stopifnot("values in one or more character columns in answer4.3 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer4.3, is.character))) sum(sapply(answer4.3[sapply(answer4.3, is.character)], function(x) length(unique(x)))) else 0), "fda6")), "6aa31086ad11609925ba28589b3807db"))
stopifnot("values in one or more factor columns in answer4.3 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer4.3, is.factor))) sum(sapply(answer4.3[, sapply(answer4.3, is.factor)], function(col) length(unique(col)))) else 0), "fda6")), "6aa31086ad11609925ba28589b3807db"))

print('Success!')

[1] "Success!"

Great work! 😁 Please Restart and Run all, check for errors, Save, and submit this worksheet on Canvas.

### Attribution

Thanks to Diana Lin, Icíar Fernández Boyano, David Kepplinger, and Vincenzo Coia for putting this worksheet together.