<a href="https://colab.research.google.com/github/Ricky0917/STAT-545/blob/main/worksheet_b02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:Ruiqi Zang

Student ID:Q4Q4Q4 NOT DONE

# Worksheet B2: Strings and Regular Expressions (16 points)
**Fall 2025**


There are 16 questions, each worth 1 point each.
In this tutorial, you'll practice how to:

- Manipulate a character vector in R using the stringr package.
- Write simple regular expressions (regex).
- Apply regular expressions to data manipulation.

Load the requirements for this worksheet:

In [144]:
suppressPackageStartupMessages(library(tidyverse))
suppressPackageStartupMessages(library(gapminder))
suppressPackageStartupMessages(library(testthat))
suppressPackageStartupMessages(library(digest))

The following code chunk has been unlocked, to give you the flexibility to start this document with some of your own code. Remember, it's bad manners to keep a call to `install.packages()` in your source code, so don't forget to delete these lines if you ever need to run them.

In [145]:
# An unlocked code chunk.

In [146]:
install.packages("gapminder")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

# Part 1: Warming up to the `stringr` functions


## Question 1

{points: 1}

There's that famous sentence about the "quick fox" that contains all letters of the alphabet, although we don't quite remember the sentence. Obtain a vector of all sentences from the `stringr::sentences` dataset containing the word `"fox"`. Store the resulting vector in a variable named `answer1`.

```
answer1 <- str_subset(FILL_THIS_IN, FILL_THIS_IN)
```

In [147]:
# your code here
answer1 <- str_subset(sentences, "fox")

#fail() # No Answer - remove if you provide an answer
print(answer1)

[1] "The quick fox jumped on the sleeping cat."

In [148]:
library(digest)
stopifnot("type of answer1 is not character"= setequal(digest(paste(toString(class(answer1)), "1d668")), "fa56c0ea3187bff85f5f66351f42646f"))
stopifnot("length of answer1 is not correct"= setequal(digest(paste(toString(length(answer1)), "1d668")), "d1b6263ea607436b741e6ebfd6cc373e"))
stopifnot("value of answer1 is not correct"= setequal(digest(paste(toString(tolower(answer1)), "1d668")), "c07c0d3e82bc91de7682283d24cdf597"))
stopifnot("letters in string value of answer1 are correct but case is not correct"= setequal(digest(paste(toString(answer1), "1d668")), "061dedd72b6a60f3ceb4c9ab346052f7"))

print('Success!')

[1] "Success!"

## Question 2

{points: 1}


Make an (atomic) vector of the individual words in the sentence. Store the result in a variable named `answer2`.

Hint: Use `str_split(string, pattern)`, and carefully note what the output of this function is.

In [163]:
# your code here
answer2 <- str_split(answer1[1]," ")[[1]]

#fail() # No Answer - remove if you provide an answer
print(answer2)

[1] "The"      "quick"    "fox"      "jumped"   "on"       "the"      "sleeping"
[8] "cat."

In [164]:
library(digest)
stopifnot("type of answer2 is not character"= setequal(digest(paste(toString(class(answer2)), "f68a")), "b06e61e1dfbfe965625367bff7b943f1"))
stopifnot("length of answer2 is not correct"= setequal(digest(paste(toString(length(answer2)), "f68a")), "b2de5dd35502750379e03c42e9facd8f"))
stopifnot("value of answer2 is not correct"= setequal(digest(paste(toString(tolower(answer2)), "f68a")), "27fdd0b2565dff9985af4c3e0e0ac679"))
stopifnot("letters in string value of answer2 are correct but case is not correct"= setequal(digest(paste(toString(answer2), "f68a")), "4490cb4d851a25fe668c3ce3c8255838"))

print('Success!')

[1] "Success!"

## Question 3

{points: 1}


With stringr, we can substitute parts of a string, too. Replace the word "fox" from `answer1` with "giraffe" using `str_replace()`, and store the result in a variable named `answer3`.

```
answer3 <- str_replace(answer1, pattern = FILL_THIS_IN, replacement = FILL_THIS_IN)
```

In [155]:
# your code here
answer3 <- str_replace(answer1, pattern = "fox", replacement = "giraffe")

#fail() # No Answer - remove if you provide an answer
print(answer3)

[1] "The quick giraffe jumped on the sleeping cat."

In [156]:
library(digest)
stopifnot("type of answer3 is not character"= setequal(digest(paste(toString(class(answer3)), "8e519")), "b93cf0956ec2922f09f5c8e887cac603"))
stopifnot("length of answer3 is not correct"= setequal(digest(paste(toString(length(answer3)), "8e519")), "3e5fd2cd90fda67dae9b37d088ad15e3"))
stopifnot("value of answer3 is not correct"= setequal(digest(paste(toString(tolower(answer3)), "8e519")), "60c5728698069259455fb27653825f4a"))
stopifnot("letters in string value of answer3 are correct but case is not correct"= setequal(digest(paste(toString(answer3), "8e519")), "5acf200ecafb90bccd4164d725ad7b70"))

print('Success!')

[1] "Success!"

## Question 4: pig latin

{points: 1}


Convert `words` to a simplistic version of pig latin:

1. Move the first letter to the end of the word.
2. Add "ay" to the end of the word.

Hint: subset by position using `str_sub(string, start, end)`.

Store the result in a variable named `answer4`.

In [185]:
# your code here
answer4 <- str_c(
  str_sub(answer2, 2),
  str_sub(answer2, 1, 1),
  "ay"
#fail() # No Answer - remove if you provide an answer
head(answer4)

[1] "heTay"    "uickqay"  "oxfay"    "umpedjay" "noay"     "hetay"

In [186]:
library(digest)
stopifnot("type of answer4 is not character"= setequal(digest(paste(toString(class(answer4)), "32905")), "b3f6b72d8660b9fd6ce2d01dd3c0c640"))
stopifnot("length of answer4 is not correct"= setequal(digest(paste(toString(length(answer4)), "32905")), "a2793263691d70c7c415355d98301e6d"))
stopifnot("value of answer4 is not correct"= setequal(digest(paste(toString(tolower(answer4)), "32905")), "36047aa48d0089a1271529926c5f63ce"))
stopifnot("letters in string value of answer4 are correct but case is not correct"= setequal(digest(paste(toString(answer4), "32905")), "43f238e14e9718611e4462290f74ec78"))

print('Success!')

ERROR: Error: length of answer4 is not correct

Now let's practice working with character columns in a tibble. Consider the wedding dataset on the UBC-STAT/stat545.stat.ubc.ca GitHub repository:

In [ ]:
wedding <- suppressMessages(read_csv("https://raw.githubusercontent.com/UBC-STAT/stat545.stat.ubc.ca/master/content/data/wedding/attend.csv"))
head(wedding)

Back in Worksheet A-4, we used `tidyr::separate()` to split the `name` column into two columns, named `first` and `last` containing the first and last names (which are currently separated by a space):

In [ ]:
wedding_fl <- wedding %>%
   separate(name, into = c("first", "last"), sep = " ")
head(wedding_fl)

## Question 5

{points: 1}


Make a new column named `greeting` with entries of each row following the following format:
`"Hello there, [FIRST_NAME_HERE] from party [PARTY_NUMBER_HERE]!"` Store the resulting tibble in a variable named `answer5`.

```
answer5 <- wedding_fl %>%
   mutate(greeting = str_c(FILL_THIS_IN))
```

*Hint 1*: The `str_c()` function can take in any number of character vectors of the same length, stack them up side by side, and glue them together.

*Hint 2*: `str_c()` can recycle values. For example, if you pass in a character vector of length 1 (say `"Apple"`, and a character vector of length 3 (say `c("Pie", "Crisp", "Crumble")`, then it can return `c("Apple Pie", "Apple Crisp", "Apple Crumble")`.

In [ ]:
# your code here
answer5 <- wedding_fl %>%
  mutate(greeting = str_c(
    "Hello there, ",
    first,
    " from party ",
    party,
    "!"
  ))


#fail() # No Answer - remove if you provide an answer
print(answer5, width=Inf)

In [ ]:
library(digest)
stopifnot("answer5 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer5)), "968fb")), "4f4aa39eaa1184325df6d56e1b6ca876"))
stopifnot("dimensions of answer5 are not correct"= setequal(digest(paste(toString(dim(answer5)), "968fb")), "4e6299e99c54401b40bd2fa4c25ff1e1"))
stopifnot("column names of answer5 are not correct"= setequal(digest(paste(toString(sort(colnames(answer5))), "968fb")), "8c0dd37a84ad313d5f8f50e58b750ada"))
stopifnot("types of columns in answer5 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer5, class)))), "968fb")), "9cc503f8e037b882995eaa4ddb6a8e5c"))
stopifnot("values in one or more numerical columns in answer5 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer5, is.numeric))) sort(round(sapply(answer5[, sapply(answer5, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "968fb")), "512228817e9966b919b2abe2441c7328"))
stopifnot("values in one or more character columns in answer5 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer5, is.character))) sum(sapply(answer5[sapply(answer5, is.character)], function(x) length(unique(x)))) else 0), "968fb")), "b95a3a8f0d5c4b7f17c291e61a4ad402"))
stopifnot("values in one or more factor columns in answer5 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer5, is.factor))) sum(sapply(answer5[, sapply(answer5, is.factor)], function(col) length(unique(col)))) else 0), "968fb")), "0437503326b680cc7a8f972bf40ae1a2"))

print('Success!')

## Question 6

{points: 1}


Make a tibble with one row per party, with columns named `people` and `wedding_status`:

- `people`: contains the first names of everyone in the party, separated by commas (and a space: `", "`).
- `wedding_status`: should be `"CONFIRMED"` if all their wedding status entries are `"CONFIRMED"`, and `"PENDING"` otherwise.

Store the resulting tibble in a variable named `answer6`.

Starter code:

```
answer6 <- wedding_fl %>%
   group_by(party) %>%
   summarise(
       people = str_flatten(FILL_THIS_IN),
       wedding_status = if_else(FILL_THIS_IN, "CONFIRMED", "PENDING")
   )
```

*Hint*: The `str_flatten()` function concatenates a vector of characters into a single string, with an optional argument that lets you put things between vector elements before concatenating them.

In [ ]:

# your code here
answer6 <- wedding_fl %>%
  group_by(party) %>%
  summarise(
    people = str_flatten(first, ", "),
    wedding_status = if_else(all(attendance_wedding == "CONFIRMED"), "CONFIRMED", "PENDING")
  )


#fail() # No Answer - remove if you provide an answer
print(answer6)

In [ ]:
library(digest)
stopifnot("answer6 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer6)), "1baa5")), "1ebd096f03160e3b7eb06fd4f29a569a"))
stopifnot("dimensions of answer6 are not correct"= setequal(digest(paste(toString(dim(answer6)), "1baa5")), "0aced0d9f30a0764a307374294f321c6"))
stopifnot("column names of answer6 are not correct"= setequal(digest(paste(toString(sort(colnames(answer6))), "1baa5")), "dab0951f5b7271fb64e32337919942a2"))
stopifnot("types of columns in answer6 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer6, class)))), "1baa5")), "ae4fc76becd284ba5dce7f0949b5ebd8"))
stopifnot("values in one or more numerical columns in answer6 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer6, is.numeric))) sort(round(sapply(answer6[, sapply(answer6, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "1baa5")), "b056d734e349f281785dcdaab051fe4a"))
stopifnot("values in one or more character columns in answer6 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer6, is.character))) sum(sapply(answer6[sapply(answer6, is.character)], function(x) length(unique(x)))) else 0), "1baa5")), "586697c34c462628284b659e66d7b29a"))
stopifnot("values in one or more factor columns in answer6 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer6, is.factor))) sum(sapply(answer6[, sapply(answer6, is.factor)], function(col) length(unique(col)))) else 0), "1baa5")), "e9bfd1a7a777c4f4283f41b125da0e6a"))

print('Success!')

*Good to know*: If you wanted to be more gramatically correct, you could have replaced `str_flatten()` with the `str_flatten_comma()` function to enforce English grammar rules for listing off items. For example, this function would allow you to separate two names with `" and "`.

# Part 2: Introduction to Regular Expressions

Regular expressions -- or "Regex" for short -- express a pattern in text that can be passed into `stringr` functions to do powerful things. Let's start by learning the basics of how to write these patterns with the helpful `str_view()` function:

In [ ]:
str_view(fruit, "melon")

The `str_view()` function took in a character vector containing fruits, and highlighted the entries matching the regular expression pattern `"melon"`. This is the simplest type of regex pattern, and it means to look for an exact match.

Let's learn more about the language of regex patterns using the countries in the gapminder data set:

In [ ]:
countries <- levels(gapminder::gapminder$country)
head(countries)

## Question 7: "any" characters

{points: 1}


The "." character when used in a regular expression means "any single character".

Use the `str_subset()` function to find all countries in the gapminder data set with the following pattern: "i", followed by any single character, followed by "a". Store the result in a vector named `answer7`.

Note that Italy will not be on the list, because regex is case-sensitive.

*Good to know*: You can specify "any single character in this list of characters" or "any single character except those in this list of characters" using square brackets. For example, `"[abc]"` for "a, b, or c" and `"[^abc]"` for "anything but a, b, or c".

In [ ]:
# str_view(countries, pattern = "FILL_THIS_IN")
# answer7 <- str_subset(countries, pattern = "FILL_THIS_IN")

# your code here
str_view(countries, pattern = "i.a")
answer7 <- str_subset(countries, pattern = "i.a")

#fail() # No Answer - remove if you provide an answer
print(answer7)

In [ ]:
library(digest)
stopifnot("type of answer7 is not character"= setequal(digest(paste(toString(class(answer7)), "ded5f")), "bc9616a224523458a59e89694fccf794"))
stopifnot("length of answer7 is not correct"= setequal(digest(paste(toString(length(answer7)), "ded5f")), "b877923dd3f011b5352727c644c568db"))
stopifnot("value of answer7 is not correct"= setequal(digest(paste(toString(tolower(answer7)), "ded5f")), "1fe4489a529f90cd5ee70bc71004ff45"))
stopifnot("letters in string value of answer7 are correct but case is not correct"= setequal(digest(paste(toString(answer7), "ded5f")), "8359e98a8c3b48a6645e2dfc7a5348db"))

print('Success!')

## Question 8: the "escape"

{points: 1}


Uh oh! But what if I wanted to literally search for countries with a period in the name? I can't use the regex `"."`, since that'll match "any single character". I need to "escape the period" to indicate that I really mean to search for the character ".", and don't mean to use the character "." in its special regex meaning.  We can escape the period by adding `\\` in front of it.

"Escape the period" to make a vector of all countries with at least one period in their name. Store the result in a vector named `answer8`.

*Good to know*: If you've used regex outside of R, you might be surprised to see that we need to add `\\` rather than `\`. This is because `\` itself is a special character in R strings that need to be escaped with `\`.

In [ ]:
# str_view(countries, pattern = "FILL_THIS_IN")
# answer8 <- str_subset(countries, pattern = "FILL_THIS_IN")

# your code here
str_view(countries, pattern = "\\.")
answer8 <- str_subset(countries, pattern = "\\.")

#fail() # No Answer - remove if you provide an answer
print(answer8)

In [ ]:
library(digest)
stopifnot("type of answer8 is not character"= setequal(digest(paste(toString(class(answer8)), "61472")), "059588061b1fc010c475d503efb51665"))
stopifnot("length of answer8 is not correct"= setequal(digest(paste(toString(length(answer8)), "61472")), "2ec18917d116834ea31933ac89d57809"))
stopifnot("value of answer8 is not correct"= setequal(digest(paste(toString(tolower(answer8)), "61472")), "01c1b527deca119a888d30c19ed3202b"))
stopifnot("letters in string value of answer8 are correct but case is not correct"= setequal(digest(paste(toString(answer8), "61472")), "b342880d70c1754d721c48239dac5cf0"))

print('Success!')

## Question 9: Position indicators

{points: 1}


Use:

- `^` to correspond to the __beginning__ of a string.
- `$` to correspond to the __end__ of a string.

Find all countries that end in "land". Store the result in a vector named `answer9`.

In [ ]:
# str_view(countries, "FILL_THIS_IN")
# answer9 <- str_subset(countries, "FILL_THIS_IN")

# your code here
str_view(countries, "land$")
answer9 <- str_subset(countries, "land$")

#fail() # No Answer - remove if you provide an answer
print(answer9)

In [ ]:
library(digest)
stopifnot("type of answer9 is not character"= setequal(digest(paste(toString(class(answer9)), "21d73")), "736761fa82fd4e6b1bb361c04827e372"))
stopifnot("length of answer9 is not correct"= setequal(digest(paste(toString(length(answer9)), "21d73")), "7fd4640b01d7baa104ae9bc0ff4eb669"))
stopifnot("value of answer9 is not correct"= setequal(digest(paste(toString(tolower(answer9)), "21d73")), "c4523d84c99b91181c588c9df630c388"))
stopifnot("letters in string value of answer9 are correct but case is not correct"= setequal(digest(paste(toString(answer9), "21d73")), "2ceb1da21eb46b70e4425ec5e67586fe"))

print('Success!')

## Question 10: Quantifiers/Repetition

{points: 1}


The handy ones are:

- `*` for 0 or more
- `+` for 1 or more
- `?` for 0 or 1

Find all countries that have any number of "o"'s (but at least 1), following an "r". Store the resulting vector in a variable named `answer10`.

In [ ]:
# str_view(countries, "FILL_THIS_IN")
# answer10 <- str_subset(countries, "FILL_THIS_IN")

# your code here
str_view(countries, "ro+")
answer10 <- str_subset(countries, "ro+")

#fail() # No Answer - remove if you provide an answer
print(answer10)

In [ ]:
library(digest)
stopifnot("type of answer10 is not character"= setequal(digest(paste(toString(class(answer10)), "73a8d")), "048bb2787046a1e3dd7a2543e041925e"))
stopifnot("length of answer10 is not correct"= setequal(digest(paste(toString(length(answer10)), "73a8d")), "339d3b2739d2b558db2e5b3924de8a7a"))
stopifnot("value of answer10 is not correct"= setequal(digest(paste(toString(tolower(answer10)), "73a8d")), "accc2b85912144ca3b94583ff6bc7d44"))
stopifnot("letters in string value of answer10 are correct but case is not correct"= setequal(digest(paste(toString(answer10), "73a8d")), "a0f0cacf6103e86e7e893b68d7f18ac3"))

print('Success!')

## Question 11: "Or" and Precedence

{points: 1}


Use `|` to denote "or". "And" is implied otherwise, and has precedence. Use parentheses to be deliberate with precedence.

For example:

In [ ]:
bbb <- c("bear", "beer", "bar")
cat("'bee' or 'ar':")
str_view(bbb, pattern =  "bee|ar")
cat("'e' or 'a':")
str_view(bbb, pattern = "be(e|a)r")

Now, find all countries that have either "o" twice in a row or "e" twice in a row ("oe" and "eo" are not allowed). Store the resulting vector in a variable named `answer11`.

In [ ]:
# str_view(countries, "FILL_THIS_IN")
# answer11 <- str_subset(countries, "FILL_THIS_IN")

# your code here
str_view(countries, "oo|ee")
answer11 <- str_subset(countries, "oo|ee")

#fail() # No Answer - remove if you provide an answer
print(answer11)

In [ ]:
library(digest)
stopifnot("type of answer11 is not character"= setequal(digest(paste(toString(class(answer11)), "9ed5")), "520945caaffd46baf1cf405c4d8c723f"))
stopifnot("length of answer11 is not correct"= setequal(digest(paste(toString(length(answer11)), "9ed5")), "c5189483398384cb3fc16fa76c3c59a8"))
stopifnot("value of answer11 is not correct"= setequal(digest(paste(toString(tolower(answer11)), "9ed5")), "43ed238afc0c5be4ae5c3eec15d3a2cb"))
stopifnot("letters in string value of answer11 are correct but case is not correct"= setequal(digest(paste(toString(answer11), "9ed5")), "5ca706b39637f61d8df04fc78ebf1086"))

print('Success!')

## Question 12: Groups

{points: 1}


You can use parentheses not only to specify precendence, but also to indicate groups that you can refer to later using integers to refer to the group number.

Example using a's and b's: matching all instances of a character sandwiched between the same two characters:

In [ ]:
ab <- c("aaa", "aab", "aba", "baa", "abb", "bab", "bba", "bbb")
str_view(ab, pattern="(.)(.)\\1")

Example: matching all instances of a character followed by two identical characters:

In [ ]:
str_view(ab, pattern="(.)(.)\\2")

Your task: Find all countries that have the same letter repeated twice (like "Greece", which has "ee"). Store the result in a vector named `answer12`.

In [ ]:
# str_view(countries, "FILL_THIS_IN")
# answer12 <- str_subset(countries, "FILL_THIS_IN")

# your code here
str_view(countries, "([a-zA-Z])\\1")
answer12 <- str_subset(countries, "([a-zA-Z])\\1")

#fail() # No Answer - remove if you provide an answer
print(answer12)

In [ ]:
library(digest)
stopifnot("type of answer12 is not character"= setequal(digest(paste(toString(class(answer12)), "7f87d")), "bbb1a7c1a211837587cf36ec12af9938"))
stopifnot("length of answer12 is not correct"= setequal(digest(paste(toString(length(answer12)), "7f87d")), "8027a4c9e976df65ce6a2e5a803026c8"))
stopifnot("value of answer12 is not correct"= setequal(digest(paste(toString(tolower(answer12)), "7f87d")), "2498bd9eababefb89018cd5d25956faa"))
stopifnot("letters in string value of answer12 are correct but case is not correct"= setequal(digest(paste(toString(answer12), "7f87d")), "49a1cf1b5ae2eb6e1ccbf5a8fd35ffb5"))

print('Success!')

# Part 3: Stringr with regular expressions

Now that you have your bearings with stringr and with regular expressions, let's practice putting them together in (semi)realistic scenarios.

Useful links:
- [Posit Strings cheatsheet](https://github.com/rstudio/cheatsheets/blob/main/strings.pdf) covers stringr on page 1 and regular expressions on page 2.
- [Regexlearn.com](https://regexlearn.com/) for another regular expressions tutorial (general, not specific to R).
- [Regexr](https://regexr.com/) is very helpful, especially when constructing more complex regular expressions.

## Question 13

{points: 1}


Select individuals in the wedding tibble whose first name starts between "A" and "Em" inclusive, and sort them in alphabetical order by first name. Store the resulting tibble in a variable named `answer14`.

Starter code:

```
answer13 <- wedding %>%
    filter(FILL_THIS_IN(name, "FILL_THIS_IN")) %>%
    arrange(name)
```

In [ ]:
# your code here
answer13 <- wedding %>%
  filter(substr(name, 1, 2) >= "A" & substr(name, 1, 2) <= "Em") %>%
  arrange(name)

#fail() # No Answer - remove if you provide an answer
print(answer13)

In [ ]:
library(digest)
stopifnot("answer13 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer13)), "abef1")), "d408b6f23314874d54785b82187e33d2"))
stopifnot("dimensions of answer13 are not correct"= setequal(digest(paste(toString(dim(answer13)), "abef1")), "bd32592422daf3d7d63d55eba26a9641"))
stopifnot("column names of answer13 are not correct"= setequal(digest(paste(toString(sort(colnames(answer13))), "abef1")), "3453ddf87450e555cda03686a0c56549"))
stopifnot("types of columns in answer13 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer13, class)))), "abef1")), "b04a19f4d1be379d7656c9637651b2e1"))
stopifnot("values in one or more numerical columns in answer13 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer13, is.numeric))) sort(round(sapply(answer13[, sapply(answer13, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "abef1")), "0b5e9ac62eff090ec9de986eee4daadf"))
stopifnot("values in one or more character columns in answer13 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer13, is.character))) sum(sapply(answer13[sapply(answer13, is.character)], function(x) length(unique(x)))) else 0), "abef1")), "5d4aad8b1954c3b2321549fa92d6de89"))
stopifnot("values in one or more factor columns in answer13 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer13, is.factor))) sum(sapply(answer13[, sapply(answer13, is.factor)], function(col) length(unique(col)))) else 0), "abef1")), "f50dcfea3b5bff126788d8e905a56cb5"))

print('Success!')

## Question 14

{points: 1}


Add a column called `prop_vowels` to the `wedding_fl` tibble that contains the proportion of vowels in each first name. For example, "Emaan" has 3 vowels and 5 letters, so the proportion of vowels is 3/5 = 60\%. Store the resulting tibble in a variable named `answer14`.

In [ ]:
# your code here
answer14 <- wedding_fl %>%
  mutate(
    num_vowels = str_count(first, "[aeiouAEIOU]"),
    num_letters = str_length(first),
    prop_vowels = num_vowels / num_letters
  )

#fail() # No Answer - remove if you provide an answer
print(answer14)

In [ ]:
library(digest)
stopifnot("answer14 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer14)), "23cb9")), "396a5b47590611e2fa33f718a64a8d8b"))
stopifnot("dimensions of answer14 are not correct"= setequal(digest(paste(toString(dim(answer14)), "23cb9")), "19e078ce261dec8668a27eed322a1641"))
stopifnot("column names of answer14 are not correct"= setequal(digest(paste(toString(sort(colnames(answer14))), "23cb9")), "2c9b2b36d2ce3257677368ceb82d7a62"))
stopifnot("types of columns in answer14 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer14, class)))), "23cb9")), "4b57ec3e9e4635a2c26628487f6de1ef"))
stopifnot("values in one or more numerical columns in answer14 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer14, is.numeric))) sort(round(sapply(answer14[, sapply(answer14, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "23cb9")), "1104fc2a1a205e1fcf0649d7a5c8452d"))
stopifnot("values in one or more character columns in answer14 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer14, is.character))) sum(sapply(answer14[sapply(answer14, is.character)], function(x) length(unique(x)))) else 0), "23cb9")), "a128423c32020e4b0a900d0568a25849"))
stopifnot("values in one or more factor columns in answer14 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer14, is.factor))) sum(sapply(answer14[, sapply(answer14, is.factor)], function(col) length(unique(col)))) else 0), "23cb9")), "182c34d21d9b95548cf2afd660d6de50"))

print('Success!')

## Question 15

{points: 1}


Task: what letters are used in the first sentence of the `stringr::sentences` dataset? Make a vector of all the unique letters in the sentence (in lowercase), and store it in a variable called `answer15`. Don't forget to remove non-letters, which are either a space or a period.

Hint:

```
answer15 <- sentences[1] %>%
  str_remove_all("FILL_THIS_IN") %>%
  FILL_THIS_IN() %>%
  str_split(FILL_THIS_IN) %>%
  .[[1]] %>%
  unique()
```

In [ ]:
# your code here
answer15 <- sentences[1] %>%
  str_remove_all("[^A-Za-z]") %>%
  str_to_lower() %>%
  str_split("") %>%
  .[[1]] %>%
  unique()

#fail() # No Answer - remove if you provide an answer
print(answer15)

In [ ]:
library(digest)
stopifnot("type of answer15 is not character"= setequal(digest(paste(toString(class(answer15)), "915d9")), "bdc14d8608aee941a1bae1fdd5f925d7"))
stopifnot("length of answer15 is not correct"= setequal(digest(paste(toString(length(answer15)), "915d9")), "84e912fcc18e4dbe1e4b0a2ec168a66e"))
stopifnot("value of answer15 is not correct"= setequal(digest(paste(toString(tolower(answer15)), "915d9")), "d12956581a5f939dbffb0b7627a74da1"))
stopifnot("letters in string value of answer15 are correct but case is not correct"= setequal(digest(paste(toString(answer15), "915d9")), "d12956581a5f939dbffb0b7627a74da1"))

print('Success!')

## Question 16

{points: 1}


Here is a tibble with made-up names and telephone numbers:

In [ ]:
contact <- tibble(name = c("Kayden Lavoie",
                          "Ethan Fortin",
                          "Emma Davis",
                          "Aliyah Chan"),
                  phone = c("604-971-9949",
                            "6046182277",
                            "(778)881-5831",
                            "604-544-2554"))
print(contact)

Unfortunately, these four people have entered in their phone numbers in different formats. Let's fix that, in the spirit of routine data cleaning. Change the `phone` column to have all four phone numbers match Aliyah Chan's format. Store the resulting tibble in a variable called `answer16`.

*Hint*: `mutate()`, `str_remove_all()`, `separate()`, and `unite()`.

In [ ]:
# your code here
answer16 <- contact %>%
  mutate(phone = str_remove_all(phone, "[()\\s-]")) %>%
  separate(phone, into = c("area", "prefix", "line"), sep = "(?<=^\\d{3})(?=\\d{3})|(?<=^\\d{6})(?=\\d{4})") %>%
  unite("phone", area, prefix, line, sep = "-")

#fail() # No Answer - remove if you provide an answer
print(answer16)

In [ ]:
library(digest)
stopifnot("answer16 should be a data frame"= setequal(digest(paste(toString('data.frame' %in% class(answer16)), "191d2")), "08874005b9491604864eb6d59e598a74"))
stopifnot("dimensions of answer16 are not correct"= setequal(digest(paste(toString(dim(answer16)), "191d2")), "1ad03c2776dc6001430786606314920a"))
stopifnot("column names of answer16 are not correct"= setequal(digest(paste(toString(sort(colnames(answer16))), "191d2")), "88733db9f03591bdc008eb9139387ee6"))
stopifnot("types of columns in answer16 are not correct"= setequal(digest(paste(toString(sort(unlist(sapply(answer16, class)))), "191d2")), "9c7e0f96da0ae3b4c45618d4236faa5e"))
stopifnot("values in one or more numerical columns in answer16 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer16, is.numeric))) sort(round(sapply(answer16[, sapply(answer16, is.numeric)], sum, na.rm = TRUE), 2)) else 0), "191d2")), "40b396c552eb95b536c5a8967b281c24"))
stopifnot("values in one or more character columns in answer16 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer16, is.character))) sum(sapply(answer16[sapply(answer16, is.character)], function(x) length(unique(x)))) else 0), "191d2")), "f42ef506214915fedbfe38a80db0d3e2"))
stopifnot("values in one or more factor columns in answer16 are not correct"= setequal(digest(paste(toString(if (any(sapply(answer16, is.factor))) sum(sapply(answer16[, sapply(answer16, is.factor)], function(col) length(unique(col)))) else 0), "191d2")), "40b396c552eb95b536c5a8967b281c24"))

print('Success!')

All done! ✅

Please restart and run all, save, and submit to Canvas.